
.page-print{background:#fff;padding:25px 30px;text-align:left;}
.page-empty{background:url(../images/body_bg.jpg) repeat-y center top #F8F8F8;padding:0px;text-align:left;}
.page-popup{background:#fff;padding:25px 30px;text-align:left;}
.main-container{margin-top:15px;float:left;width:960px;z-index:1;}
.main{min-height:300px;}
.col1-layout .main{padding:0px;}
.col1-layout .col-main{float:none;width:auto;}
input, select, textarea{font:12px/15px Arial, Verdana, Helvetica, sans-serif;vertical-align:middle;color:#2f2f2f;}
button{font:12px/15px Arial, Verdana, Helvetica, sans-serif;vertical-align:middle;color:#FFFFFF;}
.block-content ul li{list-style:none;}
input.input-text, select, textarea{background:#fff;padding:8px;color:#313030;border:1px solid #E2E2E2;}
input.input-text, textarea{padding:2px;color:#313030;}
select{padding:1px;}
textarea{overflow:auto;}
input.radio{margin-right:3px;}
input.checkbox{margin-right:3px;}
input.qty{width:2.5em !important;text-align:center;}
button.button::-moz-focus-inner{padding:0;border:0;}
button.button{overflow:visible;width:auto;border:0;padding:0;margin:0;background:#363636;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#FFF;padding:0px 8px;font-weight:bold;font-size:12px;}
.products-grid button.button{padding:0px 10px;}
button.btn-proceed-checkout, button.btn-update{float:right;}
button.btn-cart.detail{float:left;background:url(../images/add-cart.png) no-repeat 92px 4px #363636;width:119px;height:25px;border:none;cursor:pointer;text-transform:uppercase;}
button.btn-cart.detail span{color:#FFF;font:bold 13px/20px Arial, Verdana, Helvetica, sans-serif;padding:0px;float:left;margin-top:0px;width:84px;}
button.btn-cart.detail.checkout{background:#363636;margin:2px 0 0 10px;border:none;cursor:pointer;height:25px;text-transform:uppercase;width:100px;}
button.btn-cart.detail.checkout span{background:url(../images/paynow-aero.png) no-repeat 97% 50%;padding:0 21px 0 5px;text-align:left;width:61px;}
button.btn-cart.detail.checkout:hover{background:#7e0f14;}
button.btn-cart.detail.rgt-btn{float:left;margin:0 0 0 10px;}
button.button:hover{background:#7e0f14;}
button.btn-cart.detail:hover{background:url(../images/add-cart.png) no-repeat 92px 4px #7e0f14;}
button.button span{font:bold 11px/24px Arial, Verdana, Helvetica, sans-serif;text-transform:uppercase;text-align:center;}
.my-wishlist button.btn-cart span{float:left;width:65px;}
.form-search button.button em{height:14px;line-height:14px;width:24px;}
button.disable span{color:#FFF !important;}
button.button.disable:hover{color:#FFF !important;}
button.btn-checkout.no-checkout span{background-position:0 100%;}
button.btn-checkout.no-checkout span span{background-position:100% 100%;}
p.control input.checkbox, p.control input.radio{margin-right:6px;}
.form-list li{margin:0 0 6px;list-style:none;}
.form-list label{float:left;color:#404040;font-weight:normal;position:relative;z-index:0;}
.form-list label.required em{float:right;font-style:normal;color:#eb340a;position:absolute;top:0;right:-7px;}
.form-list li.control label{float:none;}
.form-list li.control input.radio, .form-list li.control input.checkbox{margin-top:-1px;margin-right:4px;}
.form-list li.control .input-box{clear:none;display:inline;width:auto;}
.form-list .input-box{display:block;clear:both;width:270px;}
.form-list .gender{width:270px !important;}
.form-list .gender{width:auto !important;}
.form-list .gender label{line-height:23px;}
.form-list .gender .input-box{clear:none;width:210px !important;}
.form-list .gender .input-box input[type="radio"]{margin:0 5px 0 0;}
.radio-gnd{float:left;margin-left:15px;}
.radio-gnd input{float:left;margin-top:4px !important;}
.registration-popups .gender .input-box input[type="radio"]{margin:0 5px;}
.form-list .gender .input-box div span{line-height:23px;}
.form-list .field{float:left;width:290px;}
.form-list input.input-text{width:257px;padding:3px 5px;color:#313030;}
.form-list textarea{width:254px;height:10em;}
.form-list select{width:260px;background:#fff;padding:4px;color:#404040;}
.form-list li.wide .input-box{width:535px;}
.form-list li.wide input.input-text{width:529px;}
.form-list li.wide textarea{width:529px;}
.form-list li.wide select{width:535px;}
.form-list li.additional-row{border-top:1px solid #ccc;margin-top:10px;padding-top:7px;}
.form-list li.additional-row .btn-remove{float:right;margin:5px 0 0;}
.form-list .input-range input.input-text{width:74px;}
.form-list .customer-name-prefix .input-box, .form-list .customer-name-suffix .input-box, .form-list .customer-name-prefix-suffix .input-box, .form-list .customer-name-prefix-middlename .input-box, .form-list .customer-name-middlename-suffix .input-box, .form-list .customer-name-prefix-middlename-suffix .input-box{width:auto;}
.form-list .name-prefix{width:65px;}
.form-list .name-prefix select{width:55px;}
.form-list .name-prefix input.input-text{width:49px;}
.form-list .name-suffix{width:65px;}
.form-list .name-suffix select{width:55px;}
.form-list .name-suffix input.input-text{width:49px;}
.form-list .name-middlename{width:70px;}
.form-list .name-middlename input.input-text{width:49px;}
.form-list .customer-name-prefix-middlename-suffix .name-firstname, .form-list .customer-name-prefix-middlename .name-firstname{width:140px;}
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-middlename .name-firstname input.input-text{width:124px;}
.form-list .customer-name-prefix-middlename-suffix .name-lastname{width:205px;}
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text{width:189px;}
.form-list .customer-name-prefix-suffix .name-firstname{width:210px;}
.form-list .customer-name-prefix-suffix .name-lastname{width:205px;}
.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text{width:189px;}
.form-list .customer-name-prefix-suffix .name-firstname{width:210px;}
.form-list .customer-name-prefix-suffix .name-lastname{width:205px;}
.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text{width:189px;}
.form-list .customer-name-prefix .name-firstname, .form-list .customer-name-middlename .name-firstname{width:210px;}
.form-list .customer-name-suffix .name-lastname, .form-list .customer-name-middlename .name-firstname, .form-list .customer-name-middlename-suffix .name-firstname, .form-list .customer-name-middlename-suffix .name-lastname{width:205px;}
.form-list .customer-name-prefix .name-firstname input.input-text, .form-list .customer-name-suffix .name-lastname input.input-text, .form-list .customer-name-middlename .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-lastname input.input-text{width:189px;}
.form-list .customer-dob .dob-month, .form-list .customer-dob .dob-day, .form-list .customer-dob .dob-year{float:left;width:85px;}
.form-list .customer-dob input.input-text{display:block;width:74px;}
.form-list .customer-dob label{font-size:10px;font-weight:normal;color:#888;}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month{width:60px;}
.form-list .customer-dob .dob-day input.input-text, .form-list .customer-dob .dob-month input.input-text{width:46px;}
.form-list .customer-dob .dob-year{width:80px;}
.my-account .form-list .customer-dob .dob-year{width:68px;}
.form-list .customer-dob .dob-year input.input-text{width:54px;}
.validation-advice{clear:both;min-height:13px;margin:3px 0 0;padding-left:13px;font-size:11px;line-height:13px;background:url(../images/validation_advice_bg.png) 2px 3px no-repeat;color:#eb340a;float:left;width:98%;text-align:left;}
.validation-failed{border:1px solid #eb340a !important;background:#faebe7 !important;}
p.required{font-size:11px;text-align:right;color:#EB340A;}
.v-fix{float:left;}
.v-fix .validation-advice{display:block;width:12em;margin-right:-12em;position:relative;}
.success{color:#3d6611;font-weight:bold;}
.error{color:#df280a;font-weight:bold;}
.notice{color:#e26703;}
.messages, .messages ul{list-style:none !important;margin:0 !important;padding:0 !important;}
.messages{width:100%;overflow:hidden;}
.messages li{margin:0 0 10px !important;}
.messages li li{margin:0 0 3px !important;font-size:15px;}
.error-msg, .success-msg, .note-msg, .notice-msg{border:1px solid #000 !important;padding:4px 12px !important;font:bold 11px Arial, Verdana, Helvetica, sans-serif !important;}
.error-msg{border-color:#f16048;background-color:#faebe7;color:#df280a;}
.success-msg{border-color:#446423;background-color:#eff5ea;color:#3d6611;}
.note-msg, .notice-msg{border-color:#E22929;background-color:#fafaec;color:#E22929;}
.page-title{width:100%;overflow:hidden;margin:0 0 16px;}
.page-title h1, .page-title h2{color:#222;font-size:18px;font-weight:bold;line-height:normal;}
.account-login{color:#303131;}
.page-title .separator{margin:0 3px;}
.page-title .link-rss{float:right;margin:7px 0 0;}
.title-buttons{text-align:right;}
.title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6{float:left;}
.subtitle, .sub-title{clear:both;padding:12px 0 0;font-size:14px;font-weight:bold;margin:0 0 6px;}
.clearer:after, .header-container:after, .header-container .top-container:after, .header:after, .top-bar:after, .quick-access:after, 
.header-container{/*width:960px;float:left;*/ }
.header{/*float:left;*/ height:58px; width:100%; float:left; clear:both; }
.header-container ul, .header-container ul li{list-style:none;}
ul.header_content{float:left;margin-bottom:0px;padding:0 0 8px 0; width:100%;position:relative;z-index:111;}
.header_content li{float:left;font-weight:bold;}
.header a.logo{text-decoration:none !important;float:left;margin-top:-9px;}
.logo-animate{margin-top:41px;margin-left:-31px;}
.header h1.logo strong{display:none;}
.header_content li.cart_header_box{float:right;width:35px;}
.header_mid{float:right !important;width:475px;margin-top:6px;}
.icons_head{margin:10px 0 0 50px;}
.head_top_list{float:right;width:100%;position:relative;margin:15px 0 0 0;font-weight:bold;z-index:999;}
.head_top_list ul.links li a{text-transform:uppercase !important;}
.head_bottom_list{float:right;padding-top:15px;width:475px;position:relative;}
.links{float:right;}
.top_links{float:left;background:url(../images/top_links_bg.jpg) repeat-x;width:958px;height:19px;border:1px solid #dfdfdf;border-top:none;}
.top_links ul{float:left;width:auto;margin-left:15px;}
.top_links ul li{float:left;padding:0px 25px;background:url(../images/top_links_sep.jpg) no-repeat right center;}
.top_links ul li.first{padding-left:12px;}
.top_links ul li.last{background:none;padding-right:12px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.top_links ul li{padding:0px 25px;}
}
.top_links ul li a{color:#3f3d3d;font-size:12px;text-transform:capitalize;}
.top_links ul li a:hover{color:#EC2224;}
.icons_header{float:left;padding:0px;}
.icons_header li{margin-right:8px;}
.icons_header li.email{margin-right:0px;}
.icons_header li a{float:left;width:39px;text-align:center;height:39px;text-indent:-999999px;}
.icons_header li.tel a{background:url(../images/telephone.png) no-repeat center top;}
.icons_header li.chat a{background:url(../images/chat.png) no-repeat center top;}
.icons_header li.email a{background:url(../images/message.png) no-repeat center top;margin:0px;}
.icons_header li a span{float:left;margin-top:-18px;width:100px;text-align:left;}
.icons_header li.chat a span{margin-left:-16px;width:100px;}
.icons_header li.email a span{margin-left:-58px;width:110px;margin-top:-13px;}
.icons_header li a:hover{color:#000;text-indent:0px;}
.icons_header li.tel a:hover{background:url(../images/telephone.png) no-repeat left bottom;}
.icons_header li.chat a:hover{background:url(../images/chat.png) no-repeat left bottom;}
.icons_header li.email a:hover{background:url(../images/message.png) no-repeat left bottom;}
.login_window{width:290px;height:100%;text-transform:none;position:absolute;top:19px;left:-2px;z-index:999999;}
.login-arrow{background:url(../images/arrow-reg-top.png) no-repeat 10px 0 transparent;float:left;height:7px;width:28px;}
#rigpop .login-arrow{background-position:20px 0px;float:left;width:70px;height:7px;}
.login-form{background:url(../images/reg-pop-bg.png) repeat-y;color:#FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;float:left;margin-left:-10px;padding:5px;position:relative;width:280px;z-index:111;}
.login-form form{float:left;padding:5px 5px 0px 5px;width:268px;border:1px solid #000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.login-form h2{margin-bottom:0px;line-height:14px;text-transform:uppercase;font-weight:normal;font-size:14px;}
.login-form p{border-bottom:1px dotted #C6C4C5;font-weight:normal;padding:8px 0px 5px 0px;width:100%;margin-bottom:8px;line-height:13px;}
.login-form .form-list label{font-weight:bold;color:#FFF;margin:0 5px 0 0;}
.login-form .form-list label a{color:#EB340A;}
.close-here{position:absolute;top:7px;right:7px;text-indent:-999999px;background:url(../images/login-close.png) no-repeat;width:14px;height:14px;text-transform:none;}
.pepperpoint .close-here{right:2px;}
.remain_cart_inner .close-cart, .disclaimer .close-cart{background:url(../images/login-close.png) no-repeat;height:20px;position:absolute;right:-5px;text-indent:-999999px;text-transform:none;top:0px;width:20px;z-index:999999;}
#sociallogin_button .login-form a:hover{-moz-transform:none;-moz-transition:none;-webkit-transform:none;-webkit-transition:none;-ms-transform:none;-ms-transition:none;transform:none;transition:none;-o-transform:none;}
.forgot-password{color:#FFFFFF;float:left;font-size:11px;font-weight:normal;line-height:20px;margin-left:10px;text-transform:capitalize;}
.btn-login{float:left;padding:5px 0px;width:268px;}
.registration-popups, .trigg-pepperpoint{position:relative;}
.registration-popups .login_window{left:0px;}
.registration-popups .fieldset{float:left;width:100%;}
.reg-info{float:left;width:100%;}
.reg-info h1{border-bottom:1px dotted #FFFFFF;color:#FFFFFF;font-size:13px;margin-bottom:5px;padding-bottom:5px;}
.reg-info ul.form-list li{width:270px;float:left;}
.reg-info ul.form-list li div.multi-box{float:left;width:270px;}
.reg-info ul.form-list li .field{width:130px;float:left;}
.reg-info .field-big{width:180px;}
.reg-info .field-big .customer-dob{width:180px !important;}
.reg-info .field-small{width:92px !important;}
.reg-info .form-list .input-box, .reg-info .form-list select{width:89px;height:25px;}
.reg-info .form-list .customer-dob .dob-day, .reg-info .form-list .customer-dob .dob-year{width:55px;}
.reg-info .form-list .customer-dob .dob-month{width:59px;}
.reg-info .form-list .customer-dob .dob-month select{width:54px !important;}
.reg-info .form-list input.input-text{width:116px;}
.reg-info .form-list .full-width input.input-text{width:256px;}
.reg-info .form-list .customer-dob .dob-day input.input-text, .reg-info .form-list .customer-dob .dob-month input.input-text{width:26px;}
.reg-info .form-list .customer-dob .dob-year input.input-text{width:34px;}
.reg-info .form-list .customer-dob select{width:50px !important;padding:3px 2px;text-align:left;}
.reg-info .form-list .customer-dob .dob-year select{width:55px !important;}
.reg-info ul.form-list li .field.field-right{float:right;}
.login_window button.button, .remain_cart button.button{float:left;background:url(../images/checkout_button_bg.jpg) repeat-x;padding:5px 8px;font-size:12px;color:#FFF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #080808;height:25px;line-height:13px;}
.login_window button.button span, .remain_cart button.button span{font-size:12px;line-height:13px;}
.login_window button.button:hover, .remain_cart button.button:hover{background:#882529;}
#terms-condition h1{color:#FFF;border-bottom:1px dotted #FFF;padding-bottom:5px;}
.links .reg-info li{padding:0px;}
.login-form .reg-info h2{margin-bottom:15px;border-bottom:1px dotted #C6C4C5;padding-bottom:5px;font-size:13px;}
.account-create .multi-box{float:left;width:470px;}
.account-create .form-list li{float:left;width:470px;}
.account-create .form-list li.control{margin:5px 0 0 0;}
.account-create .form-list li .field{float:left;width:225px;}
.account-create .form-list li .field-right{float:right;}
.account-create .form-list input.input-text{width:200px;}
.account-create .form-list select{width:211px;}
.account-create .form-list .customer-dob{width:225px;}
.account-create .form-list .customer-dob select{width:60px;}
.account-create .form-list .customer-dob .dob-year select{width:82px;}
.account-create li.control a{font-size:11px;text-decoration:underline;}
.account-create .buttons-set button.create-account{float:left;margin:0px;}
.account-create .buttons-set.creat-acc{float:left;width:100%;margin-top:10px;border:none;}
.account-create div.selectME{width:65px !important;margin-left:0px;height:23px;}
.account-create .dob-year div.selectME{margin-right:0px;}
.account-create .form-list .customer-dob .dob-day, .account-create .form-list .customer-dob .dob-month{width:65px;}
.reg-info .form-list-first{position:relative;padding-top:50px;float:left;}
.reg-info .form-list-first.error-space{padding-top:75px;}
.reg-info .form-list-first li.email_top{position:absolute;top:2px;left:0px;}
.pepperpoint{text-align:center;top:20px !important;}
.login_with{float:right;}
.header .top-promo{float:left;width:117px;height:30px;margin:12px 10px 0;background:url(../images/bkg_top-promo.gif) 0 0 no-repeat;text-indent:-999em;overflow:hidden;}
.quick-access{color:#404040;padding:0;float:left;border-bottom:1px solid #bababa;width:100%;position:relative;z-index:1000;}
.top-welcome-msg{color:#000000;margin:0;text-transform:uppercase;float:right;padding-right:10px;}
.header_currency{float:right;position:relative;z-index:11;width:75px;}
.header_currency select{border:1px solid #525252;height:25px;font-size:13px;width:65px;margin-right:10px;}
.header_currency .block-currency, .entire-shop{background:none repeat scroll 0 0 transparent;font-size:12px;margin:0;width:125px;}
.header_currency .block-currency{border:1px solid #E2E2E2;width:103px;line-height:10px;float:left;}
.entire-shop{float:left;width:75px;position:relative;margin:0px 10px;}
span.currency{cursor:pointer;background:url(../images/currency_arrow.png) no-repeat scroll right 5px transparent;padding:0 12px 0 0;}
.header_currency .block .block-content, .entire-shop .block-content{background:#FFF !important;border:1px solid #E2E2E2;float:left;left:-0px;padding:4px 8px;position:absolute;top:15px;width:106px;display:none;z-index:999999;}
.header_currency .block .block-content{top:21px;}
.entire-shop .block-content{width:58px;}
.header_currency .block .block-title{float:left;font-size:12px;border:none;background:none;text-transform:none;color:#404040;}
.header_currency div:hover .block-title{position:relative;z-index:1500;}
.header_currency .block .block-title strong span, .category-drop span, .entire-shop strong span{background:url(../images/currency_arrow.png) no-repeat right 5px;float:left;padding-right:15px;font-size:12px;cursor:pointer;font-weight:normal;font-weight:bold;}
.header_currency .block .block-title strong span{background:url(../images/currency_arrow.png) no-repeat right 7px;padding:5px 12px 5px 5px;width:83px;}
.header_currency .block .block-title strong span.WebRupee{background:none;padding:0px;float:none;}
.header_currency .block .block-title, .header_currency .block .block-title strong, .header_currency .block block-currency, .header_currency .block-content{margin:0px;padding:0px;}
.flag{width:16px;height:11px;margin-right:10px;text-indent:-9999px;float:left;margin-top:2px;}
.currency_icon{display:block;border:1px solid #FFF;padding:3px;font-weight:normal;margin-bottom:1px;font-size:11px;}
.currency_icon.selected{background:#DDDDDD;border:1px solid #BBBBBB;}
a.currency_icon:hover{color:#404040!important;border:1px solid #BBBBBB;padding:3px;}
.top-bar{padding:0;float:right;line-height:21px;}
.top-bar .breadcrumbs{float:left;width:580px;overflow:hidden;}
.form-search{float:left;width:auto; }
.more-views .jcarousel-skin-tango .jcarousel-next-horizontal { background: url(../images/small_pre.png) no-repeat scroll 0 0 transparent; cursor: pointer; height: 27px; position: absolute; right: -6px; top: 48px; width: 18px; }
.more-views .jcarousel-skin-tango .jcarousel-prev-horizontal { background: url(../images/small_next.png) no-repeat scroll 0 0 transparent; cursor: pointer; height: 32px;
left: 391px; position: absolute; top: 21px; width: 32px; }
.form-search label{float:left;font-size:12px;font-weight:bold;padding:0 5px 0 0;}
.form-search input.input-text{background:none;color:#303131;float:left;padding:2px 5px;width:149px;filter:none;border:1px solid #525252;height:19px;line-height:14px;color:#0e0e0e;text-transform:uppercase;font-size:12px;}
.form-search input[type="submit"]{background:url(../images/search_btn.png) no-repeat center center #282828;text-indent:-999999px;height:25px;width:30px;cursor:pointer;border:1px solid #525252;border-left:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px; float:left;}
.form-search input[type="submit"]:hover{background:url(../images/search_btn.png) no-repeat center center #882529;}
.select_cls{border:1px solid #525252;float:left;border-left:none;height:23px;}
.form-search select{border:none;color:#0E0E0E;float:left;font-size:13px;height:23px;text-transform:uppercase;width:auto;}
.form-search select#cat option {border-right: 1px solid #000000;padding:0 4px;width:auto; }
.form-search button.button span:hover{background:none;}
.form-search button.button{float:right;padding:2px 6px;}
.form-search button.button span{background-image:none;float:right;height:23px;line-height:21px;text-align:left;text-indent:-9999px;background:none;border:none;box-shadow:none;-webkit-box-shadow:none;}
.form-search .search-autocomplete { z-index:999; background: #F2F2F2; }
.form-search .search-autocomplete ul { border:1px solid #999; background-color:#f9f5f0; }
.form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 5px; cursor:pointer; display:inline; clear:both; width:150px; }
.form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.form-search .search-autocomplete li.odd { background-color:#f6f6f6; }
.form-search .search-autocomplete li.selected { color:#FFF; }
.header-container .top-container{padding:5px 12px;background:#fff;border:1px solid #bbb;border-width:0 1px 1px;text-align:right;}
.chat_live{float:left;margin:2px 5px 0 -90px;}
.call_us{background:url(../images/phone1.png) no-repeat left center;float:right;padding-left:22px;padding-right:20px;height:17px;}
.header_cart{position:relative;float:right;margin:0px !important;z-index:150;width:41px;}
.cart_icon{margin:0;position:relative;top:0px;cursor:pointer;}
.cart_icon img{border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.block-cart .summary.trigger-minicart{z-index:100;}
h2.classy{display:inline;padding:0;}
.header_cart .block-cart{background:#444444;border:medium none;display:none;padding:10px 10px 20px;position:absolute;right:0;width:317px;z-index:1500;top:33px;}
.header_cart .block .empty{color:#404040;font-size:15px;margin:0;text-align:left;}
.block .empty { margin: 0;}
.header_cart .subtotal{color:#404040;font-size:15px;margin-top:0;background:none;float:right;}
.header_cart .mini-products-list li{background:#FFF;color:#404040;float:left;padding:5px;width:266px;margin-bottom:2px;list-style:none;position:relative;}
.header_cart .mini-products-list li.first{-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;border-radius:3px 3px 0px 0px;}
.header_cart .block-subtitle{border:medium none;float:right;font-size:12px;margin:0;padding:3px 8px;text-transform:capitalize;}
.header_cart .mini-products-list{float:left;width:276px;}
.header_cart .amount{color:#B5B5B5;font-size:12px;margin:0;padding:3px 8px;}
.header_cart a.product-image{border:1px solid #121212;color:#000;width:60px;text-transform:capitalize;height:66px;line-height:11px;display:block;float:left;}
.header_cart .checkout_button{float:right !important;background:url(../images/checkout_button_bg.jpg) repeat-x;padding:5px 8px;font-size:12px;color:#FFF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #080808;height:25px;line-height:13px;}
.header_cart .checkout_button span{background:url(../images/paynow-aero.png) no-repeat right center;padding-right:24px;line-height:9px;}
.header_cart .checkout_button:hover{background:#882529;}
.header_cart .total_btn{float:left;padding:5px 0px;width:278px;}
.header_cart p.price{float:left;font-size:18px;margin-bottom:0px;}
.header_cart p.price .label{color:#888;font-weight:normal;}
.remain_cart{position:absolute;right:0px;top:50px;z-index:666;}
.remain_cart .login-arrow{position:absolute;right:14px;top:-7px;background:url(../images/arrow-reg-top.png) no-repeat;width:15px;height:7px;}
.remain_cart_inner{background:url(../images/reg-pop-bg.png) repeat-y;color:#FFF;padding:10px 10px 0 10px;width:276px;z-index:99;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;float:left;position:relative;}
.pepperpoint .remain_cart_inner{background:#000;padding:10px;}
.pepperpoint .cart_box{border:none;}
.cart_box{border:none;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:left;width:276px;}
.remain_cart .empty{width:100%;}
.detail-popup .details {position: relative;}
.detail-popup .details .item-options{display: none;}
.detail-popup .details:hover .item-options{display: block; background: url(../images/tooltip-bg-small.png) no-repeat; color: #000000; height: 43px; line-height: 15px; padding: 10px 13px; position: absolute;right: -21px;text-align:right;text-decoration:none;text-indent:0;top:-59px;width: 110px;z-index:100; }.detail-popup .details:hover .item-options{line-height:30px;}
.detail-popup .item-options dt{float: left;}.detail-popup .item-options dd{color: #FF0000;float: left;padding-left: 10px;}
.social_link_vip .facebook_icon a.tooltip-link:hover div, .social_link_vip .twitter_icon a.tooltip-link:hover div, .detail-popup .details:hover .item-options { background: url(../images/hover-tooltip-sml.png) no-repeat; width: 66px; }
.text-pepper{font-size:12px;}
.text-pepper span{color:#EC2224;}
.header .nav-container{
	height:58px;
	 position:fixed; z-index:11; width:100%; padding:0px;
		background: rgb(68,68,68); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTI1MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) repeat-x ;
		background: -moz-linear-gradient(top, rgba(68,68,68,1) 2%, rgba(37,37,37,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(68,68,68,1)), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(68,68,68,1) 2%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(68,68,68,1) 2%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(68,68,68,1) 2%,rgba(37,37,37,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(68,68,68,1) 2%,rgba(37,37,37,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#252525',GradientType=0 ); /* IE6-8 */
		
	}
.header .fixed{position:fixed; top:0; z-index:1000; width: 100%}

.navigation_cart{float:left;width:100%}
.home_icon{float:left;margin-right:1px;}
.home_icon a{float:left;background:url(../images/home.png) no-repeat;height:41px;text-indent:-999999px;width:41px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.header .strip{border-bottom:1px solid #BBBBBB;float:left;padding:8px 0;width:100%;}
.header .strip span{color:#404040;}
.header .strip ul{float:left;width:100%;}
.header .strip ul li{border-right:2px solid #666;color:#666;float:left;line-height:15px;padding:0 21px;font-size:12px;text-transform:uppercase;word-spacing:4px;font-weight:bold;}
.header .strip ul li a{color:#666;}
.header .strip ul li a:hover{color:#EC2224;}
.header .strip ul li.first{padding-left:0px;}
.header .strip ul li.last{padding-right:0px;border:none;}
.register-form{border:3px solid #C6C4C5;background:#ffffff;float:left;left:20%;padding:15px;position:absolute;top:20%;width:auto;}
.register-form.giftmessage{border:4px solid #999999;left:50%;top:50%;margin-left:-150px;margin-top:-50px;}
#forgot-pop .register-form{left:40%;top:30%;}
.register-form a.close-popup, .news-feed-box a.close-popup{position:absolute;top:-8px;right:-10px;}
.register-form .left-col{float:left;width:328px;background:#f9f9f9;padding:10px;}
.register-form .left-col h1{float:left;width:100%;font-size:16px;font-weight:bold;color:#7f2225;margin:0 0 17px 0;}
.register-form .left-col .leftform{float:left;width:100%;}
.register-form .left-col .leftform .row{float:left;width:100%;margin:0 0 10px 0;}
.register-form .validate-left{float:left;width:135px;}
.register-form .validate-left label{color:#000;}
.register-form .validate-left label.confirm{margin:0 0 0 10px;color:#000;}
.register-form .validate-right{float:left;width:145px;}
.register-form .left-col .leftform .row.gender label{margin-right:10px;float:left;font-weight:bold;}
.register-form .left-col .leftform .row.gender div{float:left;margin-right:10px;line-height:20px;}
.register-form .left-col .leftform .row.gender div+div{float:left;margin-right:0px;}
.register-form .left-col .leftform .row.gender input[type="radio"]{margin:0 4px 0 0;float:left;}
span.gender-radio{float:left;margin:0 5px 0 0;}
.register-form .left-col .leftform .row input[type="text"]{border:1px solid #000000;color:#000000;float:left;font-size:12px;height:16px;padding:5px;width:266px;}
.register-form .left-col .leftform .row input.first[type="text"]{width:122px;}
.register-form .left-col .leftform .row input.first[type="password"]{float:left;width:122px;height:16px;padding:5px;border:1px solid #000;font-size:12px;color:#000;padding:5px;}
.register-form .left-col .leftform .row input.last[type="text"]{width:122px;margin-left:10px;}
.register-form .left-col .leftform .row input.last[type="password"]{float:left;margin-left:10px;width:122px;height:16px;padding:5px;border:1px solid #000;font-size:12px;color:#000;padding:5px;}
.register-form .left-col .leftform .row select.gender{float:left;width:73px;background:#fff;border:1px solid #000;padding:2px;}
.register-form .left-col .leftform .row select.date{float:left;width:52px;background:#fff;border:1px solid #000;margin-left:7px;padding:2px;}
.register-form .left-col .leftform .row select.month{float:left;width:52px;background:#fff;border:1px solid #000;margin-left:7px;padding:2px;}
.register-form .left-col .leftform .row select.year{float:left;width:73px;background:#fff;border:1px solid #000;margin-left:7px;padding:2px;}
.register-form .left-col .leftform .row input[type="checkbox"]{border:medium none;float:left;margin:3px 10px 0 0;}
.register-form .left-col .leftform .row .agree{float:left;color:#000000;font-size:12px;}
.register-form .left-col .leftform .row input[type="button"]{background:url(../images/sign-bg.jpg) repeat-x;border:medium none;color:#FFFFFF;cursor:pointer;float:left;font-size:14px;font-weight:bold;padding:2px 10px;text-transform:uppercase;border-radius:2px 2px 2px 2px;}
.register-form .left-col .leftform .row .agree small{color:#b50000;text-transform:uppercase;font-size:12px;}
.register-form .or{float:left;background:url(../images/or.jpg) no-repeat 0 0;width:25px;height:291px;}
.register-form .right-col{background:none repeat scroll 0 0 #F9F9F9;float:left;min-height:275px;padding:50px 40px 0;width:248px;}
#forgot-pop .register-form .right-col{min-height:100px;padding:0;}
.register-form .right-col h2{color:#7f2225;float:left;font-size:16px;font-weight:bold;margin:0 0 7px;text-transform:uppercase;width:100%;}
.register-form .right-col h3{color:#000000;float:left;font-family:Arial, Verdana, Helvetica, sans-serif;font-size:11px;font-weight:bold;margin:0 0 15px;text-transform:uppercase;width:100%;}
.register-form .right-col form{float:left;width:100%;}
.register-form .right-col form .row{float:left;width:100%;margin:0 0 10px 0;}
.register-form .right-col form .row label{color:#000000;float:left;font-family:Arial, Verdana, Helvetica, sans-serif;font-size:12px;width:100%;}
.register-form .right-col form .row input[type="text"]{float:left;width:201px;padding:5px;color:#000;font-size:12px;border:1px solid #000;}
.register-form .right-col form .row input[type="password"]{float:left;width:201px;padding:5px;color:#000;font-size:12px;border:1px solid #000;}
.register-form .right-col form .row input[type="button"]{background:url(../images/sign-bg.jpg) repeat-x;border:none;color:#FFFFFF;cursor:pointer;float:left;font-size:14px;font-weight:bold;padding:2px 10px;border-radius:2px 2px 2px 2px;text-transform:uppercase;margin-right:10px;}
.register-form .right-col form .row .forgot{float:left;color:#000;font-size:12px;margin-left:10px;}
.customer1, .gifts-popup{background:url(../images/disclamer-bg.png) repeat;float:left;height:100%;left:0;position:fixed;top:0;width:100%;z-index:999999;}
.register-form .right-col form .row button{float:left;}
.register-form .form-list input.input-text{background:#FFFFFF;color:#313030;padding:3px 5px;width:235px;border:1px solid #000;}
.register-form .forgot-password{font-size:12px;text-transform:uppercase;color:#B50000;line-height:23px;}
.header .overlay, .news-feed-box{float:left;width:100%;position:fixed;top:0px;left:0px;z-index:999999;background:url(../images/disclamer-bg.png) repeat 0 0;height:100%;}
.header .overlay .disclaimer{background:#FFFFFF;border:3px solid #000000;font-size:14px;height:82px;left:26%;line-height:18px;padding:5px;position:absolute;text-align:center;top:25%;width:47%;}
.news-feed-box .news-feed-inner{background:#FFFFFF;border:3px solid #C6C4C5;font-size:14px;height:auto;left:24%;position:absolute;top:20%;width:auto;}
.news-feed-box p { margin: 0px; padding:0px;}
.header .overlay .disclaimer p{margin:5px 0 0 0;}
.header .overlay .disclaimer a.close-cart{background:url(../images/cross-popup.png) no-repeat transparent;height:20px;position:absolute;right:-13px;text-indent:-999999px;text-transform:none;top:-10px;width:20px;z-index:999999;}
.header .overlay .disclaimer p.button-dis{float:left;width:100%;text-align:center;margin:0;}
.header .overlay .disclaimer p.button-dis button#disclaimer_ok{text-align:center;float:none;margin-top:8px;}
.header .overlay .disclaimer button{margin-top:10px;}
.header .overlay .disclaimer button#disclaimer_cancel{margin-left:10px;}
.brands_search{float:left;width:960px;}
.brands_search_inner{float:left;width:960px; }
.brands_search ul{float:left;list-style:none;}
.brands_search ul li{float:left;padding-left:10px;}
.box-brands{float:left;overflow:hidden;width:960px;margin:0 0 10px 0;}
.box-brands .jcarousel-container{width:960px;}
.box-brands .jcarousel-clip{width:960px;overflow:hidden;}
.brands_scroller .jcarousel-item{height:auto;padding:0 17px 0 0;width:87px;border:none;}
.box-brands .jcarousel-prev{background:url(../images/prev.png) no-repeat left top;cursor:pointer;display:block;float:left;height:23px;left:0;position:absolute;top:11px;width:18px;}
.box-brands .jcarousel-prev:hover{background-position:0px -24px;}
.box-brands .jcarousel-next{background:url(../images/next.png) no-repeat left top;cursor:pointer;display:block;float:left;height:23px;right:9px;position:absolute;top:11px;width:18px;}
.box-brands .jcarousel-next:hover{background-position:0px -24px;}
.popular_search{float:left;width:960px;background:url(../images/popular_search_bg.gif) repeat-x;height:40px;border-top:1px solid #292929;text-transform:uppercase;color:#FFF;}
.popular_search .page-title{margin:0px;width:auto;float:left;}
.popular_search .page-title h1{display:inline;font-size:14px;font-weight:bold;color:#FFF;}
.popular_search .tags-list{float:left;padding:0;width:804px;overflow:hidden;height:25px;}
.popular_search .tags-list td{background:url(../images/popular_sep.gif) no-repeat right center;padding:0px 10px;font-size:11px;}
.popular_search .tags-list td:last-child{background:none;}
.popular_search .tags-list a{color:#FFF;}
.footer-container{border-top:1px solid #292929;padding:15px;float:left;width:930px;background:url(../images/footer_bg.gif) repeat-x left bottom #151515;min-height:184px;}
.footer-container address{color:#000000;font-style:normal;height:20px;line-height:1.35;padding:4px 0px 5px 0px;font-size:10px;text-align:center;}
.bottom_links_pan{float:left;}
.bottom_links ul li a{line-height:30px;}
.bottom_links ul li a:hover{color:#9d8149;border-bottom:1px dotted #9d8149;}
.footer{width:930px;padding:0px;position:relative;}
.footer a{color:#404040;}
.footer ul li a{color:#979797;}
.footer ul li a:hover{color:#FFF;}
.footer-content{float:left;width:960px;border-top:1px solid #BABABA;padding-top:20px;}
.footer .f-left{width:934px;margin-top:15px;}
.footer .f-right{width:429px;}
.footer ul{display:inline;}
.footer li{padding:0 5px 0 0;margin:0 3px 0 0;}
.footer .links li.last{background:none !important;padding-right:0 !important;}
.footer .bugs{margin:0;color:#666;}
.footer .bugs a{font-weight:bold;color:#404040;}
.footer address{float:right;}
.footer address a{color:#404040;}
.footer .form-subscribe{float:right;width:auto;padding-top:9px;padding-left:36px;min-height:40px;border-left:1px solid #BABABA;}
.footer .form-subscribe label, .footer .form-subscribe .input-box, .footer .form-subscribe button.button{float:left;height:26px;color:transparent;box-shadow:none;}
.footer .form-subscribe .validation-advice{position:absolute;top:48px;width:303px;}
.footer .form-subscribe button.button{filter:alpha(opacity=0);}
.footer .form-subscribe .input-box input{filter:none;}
.footer .form-subscribe label{padding-top:2px;font-weight:bold;color:#404040;}
.footer .form-subscribe .input-box{background:#fff;height:26px;border:1px solid #E2E2E2;}
.footer .form-subscribe input.input-text{background:none repeat scroll 0 0 transparent;border:medium none;color:#404040;float:left;line-height:20px;margin:4px 0;padding:2px 2px 2px 10px;width:290px;}
.footer .form-subscribe button.button span{height:22px;border-left:1px solid #E2E2E2;line-height:24px;padding:0px 9px;background:none;font-weight:normal;color:#404040;box-shadow:none;}
.footer .footer-callout{display:block;margin:-10px 0 10px;position:relative;}
.footer .store-switcher{color:#555;text-align:right;}
.footer .store-switcher label{font-weight:bold;vertical-align:middle;}
.footer .store-switcher select{padding:0;vertical-align:middle;}
.footer_links{float:left;width:960px;}
.f_mid{float:left;padding:0px;width:930px;}
.f_top h2{float:left;margin:0px;}
.f_top ul{float:right;width:834px;}
.f_top ul.tags-list li a{font-size:12px !important;line-height:18px;}
.f_top ul li{float:left;list-style-type:none;margin:0px;padding:0px;}
.f_top ul li a{float:left;padding:0 8px;line-height:16px;border-right:1px solid #999;}
.f_top ul li:last-child a{border-right:none;}
.footer_social{float:left;width:188px;}
.help-box h2{font-size:12px;padding:0px;color:#FFF;font-weight:bold;margin-bottom:20px;}
.footer_social h2, .about-box h2, .footer-container .pay_with h2{font-size:12px;padding:0 0 5px 10px;color:#FFF;font-weight:bold;margin-bottom:10px;background:url(../images/bdr_vert.png) repeat-x left bottom;}
.footer_social ul{background:url(../images/bdr_horizontal.png) repeat-y right top;float:left;list-style:none; width:100px; min-height:90px;}
.footer_social ul li{margin:0px;width:30px;float:left;padding:0 0 0 2px;}
.footer_social ul li.f_icon, .footer_social ul li.y_icon { padding: 0px;}
.footer_social ul li a{ background:url(../images/footer-social-icn.png) no-repeat; width:30px;float:left;height:31px; text-indent:-999999px; }
.footer_social ul li.f_icon a{background-position:0 0;}
.footer_social ul li.t_icon a{background-position:-32px 0;}
.footer_social ul li.p_icon a{background-position:-64px 0px;}
.footer_social ul li.y_icon a{background-position:0 -30px;}
.footer_social ul li.b_icon a{background-position:-32px -30px;}
.facebook_like iframe{width:80px !important;}
.facebook_like{float:left;width:80px;padding-left:8px;}
.help-box, .about-box{float:left;width:210px;margin:0px;}
.about-box{width:225px;margin-left:20px;}
.about-box ul{display:inline;float:left;margin-right:25px;width:110px;}
.about-box ul.last{margin:0px;width:80px;}
.help-box ul li, .about-box ul li{float:left;width:95px;margin:0;padding:2px 0 2px 10px;font-size:11px;list-style:none;background:url(../images/footer_bullet.jpg) no-repeat left center;border-bottom:1px dotted #393939;}
.about-box ul.last li{width:80px;}
.copyright{color:#000000;float:right;font-size:10px;margin:10px 0 0;text-align:right}
.varisign{float:right;margin:0px 0 0 10px;}
.varisign_redasia {background: url(../images/bdr_vert.png) repeat-x left top; clear: both;float:left;*float:none; padding: 10px 0 0;width: 100%; margin:5px 0 0;}
.varisign_1{ float:left;}.red_asia {float:right;}
.facebook_feed{float:left;width:255px;overflow:hidden;margin-top:5px;}
.imp_links{float:right;width:500px;}
.imp_links .link_pan{float:left;width:100px;text-align:center;}
.imp_links .link_pan span{text-align:center;float:left;width:100px;}
.f_bottom{float:left;padding-top:10px;width:960px;}
.f_bottom ul li{float:left;}
.footer-container .nbe{float:left;margin:20px 0 0 30px;}
.footer-container .nbe ul{list-style:none;float:left;background:url(../images/bdr_horizontal.png) repeat-y left top;}
.footer-container .nbe ul li{float:left;background:url(../images/bdr_horizontal.png) repeat-y right top;padding:0px 10px;}
.footer-container .nbe ul li.news_feed{  width:56px; }
.footer-container .nbe ul li.bulk_order{width:59px;}
.footer-container .nbe ul li.return {width:57px;}
.footer-container .nbe ul li a { float: left; text-indent:-999999px; }
.footer-container .nbe ul li.news_feed a { background: url(../images/news_feed.png) no-repeat; border: 0 none; margin: 0; padding: 0;  height: 108px; width:56px; }
.footer-container .nbe ul li.bulk_order a { background: url(../images/bulk_order.png) no-repeat; height: 107px; width: 59px;}
.footer-container .nbe ul li.return a { background: url(../images/return.png) no-repeat; height: 107px; width: 57px; }
.footer-container .pay_with{float:right;}
.footer-container .pay_with h2{text-align:center;}
.info-box{margin:0 0 15px;}
.info-box h2{font-size:13px;font-weight:bold;border-bottom:1px solid #ddd;margin:0 0 8px;}
.info-table th{font-weight:bold;padding:2px 15px 2px 0;}
.info-table td{padding:2px 0;}
.std .subtitle{padding:0;}
.std ol.ol{list-style:decimal outside;padding-left:1.5em;}
.std ul.disc{list-style:disc outside;padding-left:18px;margin:0 0 10px;}
.std dl dt{font-weight:bold;}
.std dl dd{margin:0 0 10px;}
.links li{float:left;padding:0 10px;background:url(../images/links_sep.png) no-repeat right center;}
.links li li{background:none;padding:0px;}
.links li a{color:#0e0e0e;}
.links li.first{padding-left:0 !important;}
/*.links li.last{background:none !important;padding-right:0 !important;}*/
.blog-link {background:url(../images/blog-bg.png) no-repeat;color: #FFFFFF;float: right;height: 27px;margin-left:-30px;position: relative;right: -29px;text-align: center;top:0;width:80px;}
a.blog-link:hover {color:#000000;}
.link-cart{font-weight:bold;color:#d62502;}
.link-wishlist{color:#957B47;}
.link-reorder{color:#006699;font-size:12px;text-decoration:underline;}
.link-compare{}
.link-print{}
.link-rss{background:url(../images/i_rss.gif) 0 1px no-repeat;padding-left:18px;line-height:14px;white-space:nowrap;}
.btn-remove{display:block;width:14px;height:14px;font-size:0;line-height:0;background:url(../images/btn_remove.gif) 0 0 no-repeat;text-indent:-999em;overflow:hidden;}
.btn-remove2{display:block;width:16px;height:16px;font-size:0;line-height:0;background:url(../images/btn_trash.gif) 0 0 no-repeat;text-indent:-999em;overflow:hidden;}
.btn-edit{display:block;width:12px;height:12px;font-size:0;line-height:0;background:url(../images/btn_edit.gif) 0 0 no-repeat;text-indent:-999em;overflow:hidden;}
.cards-list dt{margin:5px 0 0;}
.cards-list .offset{padding:2px 0 2px 20px;}
.separator{margin:0 3px;}
.divider{clear:both;display:block;font-size:0;line-height:0;height:1px;background:#ccc;margin:10px 0;text-indent:-999em;overflow:hidden;}
.noscript{border:1px solid #ddd;border-width:0 0 1px;background:#ffff90;font-size:12px;line-height:1.25;text-align:center;color:#2f2f2f;}
.noscript .noscript-inner{width:950px;margin:0 auto;padding:12px 0 12px;background:url(../images/i_notice.gif) 20px 50% no-repeat;}
.noscript p{margin:0;}
.demo-notice{margin:0;padding:6px 10px;background:#d75f07;font-size:11px;line-height:1.15;text-align:center;color:#fff;}
.head-container .block-cart .summary{text-align:center;}
.block-cart .summary{text-align:left;position:relative;z-index:1;}
.block-cart .amount{margin:0;}
.block-cart .amount a{font-weight:bold;color:#666;}
.block-cart .subtotal{background:none repeat scroll 0 0 #e2e2e2;margin:5px 0 0;padding:3px 7px;}
.header_cart.block-cart .subtotal span{color:#FFF;}
.block-cart .subtotal .price{font-weight:bold;}
.block-cart .actions{}
.block-cart .actions .paypal-logo{float:left;width:100%;margin:3px 0 0;text-align:right;}
.product-name{margin:0;font-size:1em;font-weight:normal;line-height:1.55;}
.remain_cart .product-name{font-size:12px;line-height:18px;color:#000;font-weight:bold;}
.tags-list{display:block;font-size:13px;padding:0px;}
.tags-list li{display:inline !important;}
.tags-list li a{color:#1b2d3b;}
.advanced-search .form-list label{width:160px;padding-right:10px;}
.advanced-search .form-list .input-box, .advanced-search .form-list .input-range{float:left;clear:none;}
.advanced-search-amount{margin:0 0 10px;}
.advanced-search-summary{margin:10px 0;border:1px solid #ddd;background:#ecf9ea;padding:10px;}
.advanced-search-summary ul{float:left;width:49%;}
.advanced-search-summary strong{color:#E17C24;}
.advanced-search-summary li{margin:2px 0;}
.advanced-search-summary p{clear:both;font-weight:bold;margin:0;}
.tool-tip{border:2px solid #ddd;border-bottom-color:#666;background:#f6f6f6;padding:15px 20px;position:absolute;z-index:9999;}
.tool-tip .btn-close{margin:-9px -14px 0;text-align:right;}
.tool-tip .btn-close a{display:block;margin:0 0 0 auto;width:12px;height:12px;background:url(../images/btn_window_close.gif) 100% 0 no-repeat;text-align:left;text-indent:-999em;overflow:hidden;}
.tool-tip .tool-tip-content{padding:5px;}
.info-set{background:#fbfbfb;border:1px solid #ddd;margin:0 0 25px;padding:20px;}
.info-set h2{font-size:12px;font-weight:bold;margin:0 0 10px;}
.info-set h3, .info-set h4{font-size:12px;font-weight:bold;}
.info-set h2 a, .info-set h3 a, .info-set h4 a{font-weight:normal;}
.info-set h2.legend{margin:-20px -20px 15px;padding:3px 10px;background:#777;border-bottom:1px solid #777;position:relative;color:#fff;}
.info-set h2.legend a{color:#fff;}
.info-set h3.legend{margin:0 0 10px;}
.info-set .divider{margin:0 -20px;padding:25px 0;position:relative;}
.info-set .box{margin:0 0 15px;}
.info-set .box h2{color:#e26703;}
.info-set .data-table .product-name{font-size:1em !important;font-weight:bold !important;color:#4f8100 !important;}
.info-set .data-table .product-name a{font-weight:bold !important;}
.info-set .data-table .item-options{margin:5px 0 0;}
.account-login .content{min-height:175px;padding:0 10px;}
.account-login .content h2{background:#404040;color:#fff;font-size:13px;line-height:1.25;margin:0 -10px 12px;padding:8px 10px;}
.window-overlay{background:url(../images/window_overlay.png) repeat;background:rgba(0, 0, 0, 0.35);position:absolute;top:0;left:0;height:100%;width:100%;z-index:990;}
.remember-me label{float:none;margin:0 6px;}
.remember-me-popup{background:#fff;border:1px solid #888;border-bottom-color:#777;left:50%;top:50%;position:absolute;margin:-85px 0 0 -200px;width:400px;text-align:left;-moz-box-shadow:0 0 6px #999;-webkit-box-shadow:0 0 6px #999;box-shadow:0 0 6px #999;z-index:1000;}
.remember-me-popup h3{background:#dedede;border-bottom:1px solid #ccc;color:#444;font-size:14px;margin:0;padding:7px 10px 5px;}
.remember-me-popup .remember-me-popup-head{position:relative;}
.remember-me-popup .remember-me-popup-head .remember-me-popup-close{background:url(../images/btn_window_close.gif) no-repeat;display:block;position:absolute;top:9px;right:7px;height:15px;width:15px;text-indent:-9999em;}
.remember-me-popup .remember-me-popup-body{border-top:1px solid #e6e6e6;padding:10px;}
.remember-me-popup .remember-me-popup-body a, .remember-me-popup .remember-me-popup-body a span{display:inline-block;height:28px;background:transparent url(../images/bkg_btn.png) 0 0 no-repeat;padding:0 0 0 6px;font:bold 11px/25px Arial, Verdana, Helvetica, sans-serif;text-transform:uppercase;text-align:center;white-space:nowrap;color:#555;}
.remember-me-popup .remember-me-popup-body a span{background-position:100% 0;padding:0 15px 0 9px;}
.home-callout{margin-bottom:12px;}
.home-callout img{display:block}
.best-selling h3{margin:12px 0 6px 0;color:#e25203;font-size:1.2em;}
.best-selling table{border-top:1px solid #ccc;}
.best-selling tr.odd{background:#eee url(../images/best_selling_tr_odd_bg.gif) 0 100% repeat-x;}
.best-selling tr.even{background:#fff url(../images/best_selling_tr_even_bg.gif) 0 100% repeat-x;}
.best-selling td{width:50%;border-bottom:1px solid #ccc;padding:8px 10px 8px 8px;font-size:11px;}
.best-selling .product-img{float:left;border:2px solid #dcdcdc;}
.best-selling .product-description{margin-left:107px;line-height:1.3em;}
.best-selling a.product-name, .home-spot .best-selling a.product-name:hover{color:#203548;}
.cms-home .slider_bg{background:#000;}
.slider_container{background:#f1f1f1;height:350px;width:960px;position:relative;margin:0px auto;}
.flex-direction-nav .next{background:url(../images/nextbutton.png) no-repeat;float:left;height:50px;position:absolute;left:0px;text-indent:-9999px;top:160px;width:50px;}
.flex-direction-nav .prev{background:url(../images/prevbutton.png) no-repeat;float:left;height:50px;position:absolute;right:0px;text-indent:-9999px;top:160px;width:50px;}
.flex-direction-nav .prev:hover{background-position:-50px 0;}
.flex-direction-nav .next:hover{background-position:-50px 0;}
.flex-control-nav{bottom:-21px;float:left;height:12px;left:434px;position:absolute;text-align:center;width:auto;z-index:100;background:url(../images/slide_bg.png) no-repeat;z-index:0;}
ol.flex-control-nav li{float:left;}
ol.flex-control-nav li a{float:left;text-indent:-9999px;text-align:left;width:18px;height:18px;background:url(../images/slide.png) no-repeat 0 -18px;}
ol.flex-control-nav li a.active{background-position:0 0;}
.slides{overflow:hidden;}
.slider_container .banner{float:left;height:350px;overflow:hidden !important;width:960px;}
.slider_page{background:url("../images/common.png") no-repeat scroll 0 -134px transparent;bottom:-33px;height:70px;left:0;position:absolute;width:950px;}
.footer .form-subscribe-header{font-size:15px;line-height:30px;text-transform:uppercase;float:left;padding-right:10px;}
.footer .f-fix{}
.footer-static-links{float:left;}
.footer-static-links h2{color:#343131;font-size:16px;font-weight:normal;}
.footer-static-links ul{float:left;width:150px;}
.footer-static-links ul li{background:none repeat scroll 0 0 transparent;display:inline-block;list-style-type:none;margin:0;padding:0;width:100%;}
.footer-static-links ul li a{color:#343131;padding-left:10px;background:url(../images/common.png) no-repeat -48px -107px;}

.catalog-category-view .main, .catalogsearch-result-index .main, .tag-product-list .main{background:none;border:none;padding:0px !important;filter:none;}
button.button.detail span span{padding:0px 5px;}
button:hover.button span span{border:none !important;}
.block-cart .mini-products-list .product-details{display:block;width:194px;position:relative;padding:0 0 0 10px;float:right;}
.block-cart .quantity_del{float:right;width:30px;}
.block-cart .quantity_del .qty{float:left;width:25px;height:18px;text-align:center;border:1px solid #555;}
.block-cart .quantity_del .btn-del{background:url(../images/delete.jpg) no-repeat;float:left;width:13px;height:15px;margin:30px 0 0 8px;text-indent:-999999px;}
.block-cart .product-name_price{float:left;width:152px;border-right:2px solid #0f0f0f;padding-right:5px;min-height:66px;}
.remain_cart_inner .empty{border-bottom:1px dotted #FFFFFF;font-size:13px;padding:2px 0 5px;text-align:left;}
.block-cart .mini-products-list .product-details a.btn-remove{position:absolute;bottom:0px;right:0px;}
.block-cart .mini-products-list .product-details a.btn-edit{position:absolute;bottom:0px;right:18px;}
.block-cart .mini-products-list li:hover a.product-image{display:block!important;}
.block-cart .product-details .price{font-size:19px;color:#000;margin:5px 0px;}
.block-cart .product-details .price .WebRupee{font-weight:bold;font-size:19px;margin-right:3px;}
.social_links{margin:10px 0 40px;background:-moz-linear-gradient(top, rgba(5, 1, 1, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(5, 1, 1, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));background:-webkit-linear-gradient(top, rgba(5, 1, 1, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);background:-o-linear-gradient(top, rgba(5, 1, 1, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);background:-ms-linear-gradient(top, rgba(5, 1, 1, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);background:linear-gradient(top, rgba(5, 1, 1, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d050101', endColorstr='#0d000000', GradientType=0);border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #C2C2C2;padding:15px;width:930px;float:left;}
ul.social_pan{float:left;margin-top:2px;}
ul.social_pan li{float:left;margin-right:10px;}
ul.social_pan li a{float:left;width:34px;height:34px;}
.payment_option{float:right;}
.payment_block{float:right;}
.capslide_img_cont4 .regular-price .price{color:#000;}
.box-collateral .regular-price .price{color:#404040;}
.box-center{margin:0px auto;width:960px;}
#logo{clear:both;float:left;height:100px;margin:24px 0;position:relative;width:960px;}
#logo li.head-container{height:70px;padding-top:18px;text-align:center;}
#logo > li{display:inline;float:left;width:318px;text-align:center;}
.head-container span{font-style:italic;color:#BCA474;}
.logo-box{height:20px;margin:0;padding:0px 0 10px;width:980px; float:left;}
.free-shipping{float:left;width:auto;font-size:20px;text-transform:uppercase;position:relative;padding-left:90px;background:url(../images/free_shipping.jpg) no-repeat 0px 8px;}
.free-shipping span{display:block;width:auto;font-size:11px;text-transform:none;}
.free-shipping .icon{position:absolute;left:0px;background:url(../images/icon_free.jpg) no-repeat;top:-25px;width:100px;height:91px;}
.frame{background:url(../images/frame.png) no-repeat;color:#FFFFFF;font-size:0;height:31px;left:450px;position:absolute;top:-14px;width:118px;}
.prod-next{background:#363636;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#FFFFFF;float:right;font-size:12px;padding:2px 10px;}
.prod-prev{background:#363636;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#FFFFFF;float:left;font-size:10px;padding:2px 10px;font-size:12px;}
a.prod-prev:hover, a.prod-next:hover{background:#882529;color:#FFF;}
#scrollbar1{width:285px;margin:0;}
#scrollbar1 .viewport{width:276px;height:158px;overflow:hidden;position:relative;}
#scrollbar1 .overview{list-style:none;position:absolute;left:0;top:0;padding:0;margin:0;}
#scrollbar1 .scrollbar{background:transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0;position:relative;background-position:0 0;float:right;width:8px;}
#scrollbar1 .track{background:transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;height:100%;width:5px;position:relative;padding:0 1px;}
#scrollbar1 .thumb{background:transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;height:20px;width:7px;cursor:pointer;overflow:hidden;position:absolute;top:0;left:0px;}
#scrollbar1 .thumb .end{background:transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat left -1px;overflow:hidden;height:5px;width:7px;}
#scrollbar1 .disable{display:none;}
#scrolbar_no .scrollbar{display:none;}
.cms-home .main{padding:0;filter:none;}
.static_banner{float:right;height:412px;overflow:hidden;width:412px;}
.static_banner div{float:left;border:1px solid #B0B0B0;}
.static_banner .static-box2, .static_banner .static-box4{float:right;}
.static_banner .static-box1, .static_banner .static-box2{margin-bottom:8px;}
.banner_box{float:left;width:100%;}
.block_bottom{float:left;width:100%;padding-top:10px;}
.block_bottom div{border:1px solid #b0b0b0;float:left;}
.block_bottom .box-1{float:left;}
.block_bottom .box-2{float:right;}
.mix_container{width:243px;height:412px;position:relative;float:left;margin-right:9px;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
header, section, footer, aside, nav, article, figure{display:block;}
.banner #slider{width:284px;height:410px !important;}
.banner_slider{position:relative;}
.banner_slider img{position:absolute;top:0px;left:0px;}
.banner_slider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.banner-slice{display:block;position:absolute;z-index:5;height:100%;}
.bannar-box{display:block;position:absolute;z-index:5;}
.banner_control a{position:relative;z-index:9;cursor:pointer;}
.banner_control a.active{font-weight:bold;}
.banner .banner_slider{position:relative;background:#fff url(../images/loading.gif) no-repeat 50% 50%;}
.banner .banner_slider img{position:absolute;top:0px;left:0px;display:none;}
.banner .banner_slider a{border:0;display:block;}
.banner .banner_control{bottom:10px;left:10px;margin-left:0;position:absolute;}
.banner .banner_control a{display:block;width:22px;height:15px;background:url(../images/common.png) no-repeat scroll -17px 0px transparent;text-indent:-9999px;border:0;margin-right:3px;float:left;}
.banner .banner_control a.active{background:url(../images/common.png) no-repeat scroll 5px 0;}
.banner .ban_direction a{display:block;width:30px;height:30px;background:url(../images/arrows.png) no-repeat;text-indent:-9999px;border:0;}
.slider-wrapper{background:#FFFFFF;border:1px solid #B0B0B0;display:inline-block;float:left;height:410px;overflow:hidden;position:relative;width:284px;}
.slider-wrapper #slider{margin:0 !important;}
.ban_direction{display:none!important;}
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}
#sociallogin_button{margin-top:10px;position:relative;}
#sociallogin_button #bt-loginfb, #sociallogin_button #bt-logingo, #sociallogin_button #bt-logintw, #sociallogin_button #bt-loginya{height:19px;width:19px;background:url(images/sociallogin/top-icons.png) no-repeat -21px 0;display:block;float:left;margin:0px 0px 0px 3px !important;}
#sociallogin_button #bt-loginfb:hover{background:url(../images/sociallogin/top-icons.png) no-repeat -21px -24px;}
#sociallogin_button #bt-logingo{background:url(sociallogin/icons/top-icons.png) no-repeat -21px -24px;}
#sociallogin_button #bt-logingo:hover{background:url(../images/sociallogin/top-icons.png) no-repeat -21px -24px;}
#sociallogin_button #bt-logintw{background:url(../images/sociallogin/h_twitter.png) 0px 0px no-repeat;}
#sociallogin_button #bt-logintw:hover{background:url(../images/sociallogin/twitter-hov.png) no-repeat 0 0;}
#sociallogin_button #bt-loginya{background:url(../images/sociallogin/h_yahoo.png) 0px 0px no-repeat;width:29px;}
#sociallogin_button #bt-loginya:hover{background:url(../images/sociallogin/h_yahoo-hov.png) no-repeat 0 0;}
.peperfry-login{background:url(../images/sociallogin/top-icons.png) no-repeat 0 0;width:19px;height:19px;float:left;}
.peperfry-login:hover{background:url(../images/sociallogin/top-icons.png) no-repeat 0 -24px;}
ul.new{height:19px;font-family:Arial, Verdana, Helvetica, sans-serif;}
ul.new li.icon{border:0px solid #444444;display:inline-block;float:left;height:19px;margin:0px;padding:0px;list-style-type:none;overflow:hidden;border-left:1px dotted #ddd;padding-left:5px;padding-right:5px;}
ul.new li.yahoo{border-right:1px dotted #ddd;}
ul.new li a, ul.new li a:hover, ul.new li a:visited{text-decoration:none;}
.normalMenu, .normalMenu:visited, .hoverMenu, .hoverMenu:visited, .selectedMenu, .selectedMenu:visited{outline:none;padding:0px 0px;display:block;}
.hoverMenu, .hoverMenu:visited, .selectedMenu, .selectedMenu:visited{margin-top:-19px;color:#444444;}
.selectedMenu, .selectedMenu:visited{margin:0;}
.normalMenu, .normalMenu:visited{color:white;}
#back-top{position:fixed;right:20px;bottom:20px;width:64px;height:66px;display:block;}

/*--------------------------------------------------------- CSS --------------------------------*/
#nav ul ul{margin-top:0px;}
.form-search:after, #nav:after, .main:after, .footer:after, .footer .form-subscribe:after, .footer-container .bottom-container:after, .col-main:after, .col2-set:after, .col3-set:after, .col4-set:after, .search-autocomplete li:after, .block .block-content:after, .block .actions:after, .block li.item:after, .block-layered-nav .currently li:after, .page-title:after, .products-grid:after, .products-list li.item:after, .box-account .box-head:after, .dashboard .box .box-title:after, .order-info ul:after, .box-reviews li.item:after, .box-tags li.item:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after, .add-to-cart:after, .product-essential:after, .product-collateral:after, .product-tabs:after, .product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add:after, .product-view .product-shop .short-description:after, .product-view .box-description:after, .product-options .options-list li:after, .product-options-bottom:after, .product-review:after, .cart:after, .cart-collaterals:after, .cart .crosssell li.item:after, .opc .step-title:after, .checkout-progress:after, .multiple-checkout .place-order:after, .group-select li:after, .form-list li:after, .form-list .field:after, .buttons-set:after, .page-print .print-head:after, .advanced-search-summary:after, .gift-messages-form .item:after, .send-friend .form-list li p:after{display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.header .fixed #nav, .header .fixed .home_icon, .header .fixed .header_cart{box-shadow:0 5px 5px -4px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 5px 5px -4px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 5px 5px -4px rgba(0, 0, 0, 0.4);}
#nav, #nav ul{margin:0;padding:0;list-style:none;}
#nav{width:960px;margin:0px;width:876px;float:left;background:url(../images/nav_bg.gif) repeat-x;height:41px;}
#nav:before, #nav:after{content:"";display:table;}
#nav:after{clear:both;}
#nav{zoom:1;}
#nav li{float:left;position:relative;background:url(../images/line2.jpg) no-repeat right center;}
#nav li.level0{height:41px;}
#nav li.level0.first{padding-left:4px;}
@media screen and (-webkit-min-device-pixel-ratio:0){#nav li.level0.first{padding-left:5px;}
}
#nav li.level0.last{padding-right:0px;}
#nav li.last{border:none;box-shadow:none;background:none;}
#nav a{float:left;padding:12px 11px;;color:#FFF;text-transform:uppercase;font:normal 13px Arial, Verdana, Helvetica, sans-serif;text-decoration:none;}
#nav li:hover > a{color:#fafafa;}
/**html #nav li a:hover{color:#fafafa;}*/
#nav ul{margin:20px 0 0 0;_margin:0;opacity:0;display:none;position:absolute;top:47px;left:0;z-index:9999;background:#444;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#000;}
#nav li:hover > ul{opacity:1;display:block;margin:0;}
#nav ul ul{top:0;left:161px;margin:0 0 0 20px;_margin:0;/*-moz-box-shadow:-1px 0 0 rgba(255, 255, 255, .3);-webkit-box-shadow:-1px 0 0 rgba(255, 255, 255, .3);box-shadow:-1px 0 0 rgba(255, 255, 255, .3);*/}
#nav ul li{float:left;display:block;border:0;_line-height:0;border-bottom:1px dotted #606060;background:none;}
#nav ul li:last-child{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
#nav ul a{padding:8px 10px !important;width:140px;_height:10px;display:block;float:none;text-transform:uppercase;font-size:11px;}
#nav ul a:hover{background-color:#7e0f14;}
#nav ul li:first-child > a{-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
#nav ul li:first-child > a:after{content:'';position:absolute;left:0px;top:-6px;background:url(../images/nav_arrow1.png) no-repeat;width:160px;height:6px;}
#nav ul ul li:first-child > a:after{background:none;width:auto;height:auto;}
#nav ul ul li:first-child a:after{left:-6px;top:50%;margin-top:-6px;border-left:0;border-bottom:6px solid transparent;border-top:6px solid transparent;border-right:6px solid #000;}
#nav ul li:first-child a:hover:after{background:url(../images/nav_arrow1-ho.png) no-repeat;}
#nav ul ul li:first-child a:hover:after{border-right-color:#7e0f14;border-bottom-color:transparent;}
#nav ul li:last-child > a{-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
#nav .home{display:none;}
