@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
.bg-1{
	background:url(../images/onboarding-bg.jpg) no-repeat top center;
	background-attachment:fixed;
	
}
p{
	margin:0px;
	padding:0px;
	float:left;
}
#containter-1{
	width:960px;
	margin:0px auto;
}
#header-1{
	width:960px;
	float:left;
	margin:0px;
	padding:0px;
	height:88px;
	border-right:1px solid #fff;
}
.logo-1{
	width: 280px;
	float:left;
	margin:0px;
	padding:0px;
}
.logo-1 label{
	margin:0px;
	font: 18px Roboto, Arial, Helvetica, sans-serif;
	font-weight: 900;
	color:#fff;
	line-height:80px;
	padding:0px 0 0 0;
}
.logo-1 img{
	margin:0px 10px 0 0;
	padding:0px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.nav-1{
	width:460px;
	float:right;
	margin:30px 0 0 0;
	padding:0px; 
}
.nav-1 ul{
	margin:0px;
	padding:0px; 
}
.nav-1 ul li{
	margin:0px;
	list-style-type:none;
	display:inline;
	font:14px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
	padding:0px; 
}
.nav-1 ul li a{
	margin:0px;
	text-decoration:none;
	color:#fff;
	padding:0px 10px 0 10px; 
}
.nav-1 ul li a span{
	margin:0px;
	text-decoration:none;
	background:#676865;
	border:1px solid #676865;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px 10px 2px 10px;
}
.nav-1 ul li a span b{
	color:#119ba0;
	margin:0px;
	padding:0px;
}
.nav-1 ul li a:hover{
	color:#e3e3e3;
}
.nav-1 ul li a span:hover{
	color:#e3e3e3;
	background:#838382;
	border:1px solid #676865;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.nav-1 ul li a span b:hover{
	color:#21b5ba;
	background:none;
}
#main-1{
	width:960px;
	float:left;
	margin:0px;
	padding:0px;
}
#main-1 h3{
	margin:20px 0 0 0;
	display:block;
	float:left;
	color:#fff;
	font:30px Arial, Helvetica, sans-serif;
	padding:0px;
}


/**************inner pages start *****************************/
#wapper-top-1{
	width:100%;
	margin:0px;
	padding:0px;
	background:url(../images/top-repeat.png) repeat top left;
	border-bottom:1px solid #fff;
	height:88px; 
}
#top-header-1{
	width:960px;
	margin:0px auto;
	height:184px;
	padding:0px;
}
#navigation-1
				{
					font-size: 1.25em; /* 20 */
					font-family: 'Advent Pro', sans-serif;
					font-weight: 600;
					text-transform: uppercase;
					width:960px;
					float:left;
					margin:0px;
					padding:0px;
				}
					#navigation-1 li
					{
						width: 15%; /* 160 */
						height: 1.8em; /* 90 */
						position: relative;
						padding:0px;
						margin:0px;
						display: inline;
						float: left;
						margin-right: 5.263%; /* 40 */
					}
					#navigation-1 li a:active
					{
						font-weight: 900;
					}
						#navigation-1 li:last-child
						{
							margin-right: 0;
						}
						#navigation-1 a
						{
							color: #555;
							position: absolute;
							bottom: 0;
							text-decoration:none;
							left: 0;
							padding:0px;
							margin:0px;
						}
						#navigation-1 a span
						{
							color: #555;
							position: absolute;
							bottom: 0px;
							text-decoration:none;
							text-align:center;
							height:25px;
							left: 0;
							padding:70px 0px 0px 0px;
							margin:0px 0px 0px 0px;
						}
						
						#navigation-1 a:hover
						{
							color: black;
							font-weight: 900;
						}
						#navigation-1 a:hover span
						{
							color: #222; background:url(../images/line.png) no-repeat top center;
						}
											
							#navigation-1 a:before
							{
								width: 0;
								height: 3.5em; /* 70 */
								
								content: '';
								overflow: hidden;
								position: absolute;
								top: -3.5em; /* 70 */
								left: 50%;
							}

				#show-navigation
				{
					font-family: 'Advent Pro', sans-serif;
					font-weight: 500;
					text-transform: uppercase;
					text-align: center;
					margin-top: 1.25em; /* 20 */
				}
					#show-navigation:after
					{
						color: #00a6e8;
						border-left: 1px solid #222;
						content: '\2193';
					}

.content-sided-1
				{
					width: 79.166%; /* 760 */
					float: right;
				}
				.content-primary
				{
					width: 58.333%; /* 560 */
					float: left;
				}
				.content-secondary
				{
					width: 37.5%; /* 360 */
					float: right;
				}



#wapper-middle-1{
	width:960px;
	margin:0px auto;
}
.banner-bg-1{
	background:#fff;
	height:322px;
	width:100%;
	float:left;
	text-align:center;
	text-align:justify;
	line-height:20px;
	clear:both;
	margin:20px 0 0 0;
	display:block;
}
.content-1{
	width:960px;
	margin:0px auto;
	padding:0px;
}
.content-left{
	width:960px;
	float:left;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
	padding:0px 0px 0px 0px;
}
.content-left img{
	margin-top:30px;
	padding:0px;
}
.content-left span{
	background:#f6f6f6;
	font-family: 'Noticia Text', 'Lucida Bright', Georgia, serif;
	font-size:12px;
	line-height:20px;
	margin:0px 0 0 0px;
	padding:0px 0 0 0;
}

.content-right{
	width:960px;
	float:right;
	background:#f6f6f6;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
	padding:0px 0px 0px 0px;
}
.content-right img{
	margin-top:30px;
	padding:0px;
}
.content-right span{
	background:#f6f6f6;
	font-family: 'Noticia Text', 'Lucida Bright', Georgia, serif;
	font-size:12px;
	line-height:20px;
	margin:0px 0 0 0px;
	padding:0px 0 0 0;
}

.content-box-1{
	width:560px;
	float:right;
	margin:0px 0px 0px 0px;

	font-size:15px;
	font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
/*	word-spacing:10px;*/
	line-height:25px;
	text-align:justify;
	padding-left:10px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:10px;
}
.content-box-1 p{
	margin:0px 0 0 0;
	font-size:15px;
	font-family: 'Noticia Text';
	word-spacing:10px;
	clear:both;
	line-height:25px;
	text-align:justify;
	padding:0px 0px 0px 0px;
}

.content-box-1 h1{
	font-family: 'Advent Pro', sans-serif;
	font-weight: 500;
	font-size:30px;
	line-height:35px;
	text-align:left;
	margin-bottom:0px;
	padding:0px;
	}

	.content-box-2{
		width:560px;
		float:left;
		margin:0px 0px 0px 0px;
		font-size:15px;
		font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
	/*	word-spacing:10px;*/
		line-height:25px;
		text-align:justify;
		padding-left:0px;
		padding-right:10px;
		padding-top:10px;
		padding-bottom:10px;
	}
	.content-box-2 p{
		margin:0px 0 0 0;
		font-size:15px;
		font-family: 'Noticia Text';
		word-spacing:10px;
		clear:both;
		line-height:25px;
		text-align:justify;
		padding:0px 0px 0px 0px;
	}

	.content-box-2 h1{
		font-family: 'Advent Pro', sans-serif;
		font-weight: 500;
		font-size: 30px;
		line-height:35px;
		text-align:left;
		margin-bottom:0px;
		padding:0px;
		}


.content-box-right{
	width:320px;
	float:right;
	margin:0px 0 0 0;
	font-size:15px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
/*	word-spacing:10px;*/
	line-height:25px;
	text-align:justify;
	padding:0px;
}
.content-box-right img{
	margin:0px 0 0 0;
	font-size:15px;
	font-family: 'Noticia Text';
	word-spacing:10px;
	line-height:25px;
	text-align:justify;
	padding:0px 0px 0px 0px;
}
.content-box-right p{
	margin:0px 0 0 0;
	font-size:15px;
	font-family: 'Noticia Text';
	word-spacing:10px;
	line-height:25px;
	clear:both;
	float:left;
	text-align:left;
	padding:10px 5px 0px 5px;
}
.content-box-right  h1,{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
font-size:20px;
margin:0px;
padding:0px;
}
.content-box-right  h1 a{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
text-decoration:none;
color:#00A6E8;
margin:0px;
padding:0px;
}
.content-box-right  h1 a:hover{
color:#0082b5;
}
.content-book{
	width:950px;
	margin:10px 0 0 0;
	font-family: 'Advent Pro', sans-serif;
	float:left;
	font-size:12px;
	border-top:1px solid #f0f0f0;
	padding:20px;
}
.content-book img{
	margin:12px 20px 0 0;
	padding:0px;
	width:160px;
	height:70px;
}
.content-book h1,{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
font-size:30px;
margin:0px;
padding:0px;
}
.content-book h1 a{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
text-decoration:none;
color:#000;
margin:0px;
padding:0px;
}
.content-book p{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
text-decoration:none;
float:left;
color:#000;
margin:0px;
padding:0px 5px 0 10px;
}
.content-book p a{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
text-decoration:none;
float:left;
color:#000;
margin:0px;
padding:0px;
}
.content-book p a:hover{
color:#00A6E8;
}
.content-book h1 a:hover{
color:#00A6E8;
}
.content-book h4{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
font-size:16px;
text-align:center;
color:#00A6E8;
width:80px;
-webkit-border-radius:40px;
-moz-border-radius: 40px;
border-radius: 40px;
height:80px;
float:left;
border:1px solid #00A6E8;
margin:0px;
margin-left:400px;
padding:0px;
}
.content-book h4 a{
font-family: 'Advent Pro', sans-serif;
font-weight: 500;
font-size:16px;
text-align:center;
color:#00A6E8;
width:80px;
text-decoration:none;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
height:80px;
float:left;
line-height:80px;
margin:0px;
padding:0px;
}
.content-book h4 a:hover{
color:#fff;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
background:#00A6E8;
}

#main-footer-1{
	width:100%;
	margin:0px;
	clear:both;
	height:50px;
	padding:0px;
}
#footer-1{
	width:960px;
	margin:0px auto;
	clear:both;
	text-align:center;
	padding:20px 0 0 0;
}
#footer-1 ul{
	margin:0px;
	padding:0px;
	height:40px;
	background:#515b5a;
}
#footer-1 ul li{
	margin:0px;
	font:12px Arial, Helvetica, sans-serif;
	list-style-type:none;
	display:inline;
	color:#fff;
	padding:0px;
}
#footer-1 ul li a{
	margin:0px;
	text-decoration:none;
	color:#FFFFFF;
	line-height:40px;
	padding:0px 30px 0 30px;
}
#footer-1 ul li a:hover{
	color:#999999;
}
#footer-1 h2{
	margin:0px;
	text-align:center;
	padding:0px 0 0 0;
	font-size:14px;
	font-family: 'Advent Pro', sans-serif;
font-weight: 500;
text-transform: uppercase;
line-height:50px;
color:#999;
}
/*************************inner pages end ********************************/