
.xyz-result {
	color: #FFFFFF;
	text-decoration:none;
	height:2.95em;
	padding:0.61em;
	border-width:1px;
	border-style:solid;
	outline:0;
	font: Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	white-space:nowrap;
	word-wrap:normal;
	vertical-align:middle;
	cursor:pointer;
    overflow:visible;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}
a{
	outline:none;
}
.xyz-result-primary, body .xyz-result-primary[disabled] { color: rgb(211, 211, 211);
	background-color:#6891e7;
	text-decoration:none;
	border-color:#2f2f2f #313131 #000;
/*	text-shadow:0 -1px 0 rgba(0, 0, 0, .5);*/
	-moz-box-shadow:inset 0 1px 0 rgba(256, 256, 256, .35);
	-ms-box-shadow:inset 0 1px 0 rgba(256, 256, 256, .35);
	-webkit-box-shadow:inset 0 1px 0 rgba(256, 256, 256, .35);
	 box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
background: #3a3a3a; /* Old browsers */
background: -moz-linear-gradient(top,  #292929 0%, #252525 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(99%,#252525)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #292929 0%,#252525 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#252525 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#252525 99%); /* IE10+ */
 background: linear-gradient(to bottom,  #3a3a3a 0%,#252525 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#252525',GradientType=0 ); /* IE6-9 */

}

.xyz-result-primary:hover {
	color:#FFFFFF;
	text-decoration:none;
	border-color:#2f2f2f #313131 #000;
	-moz-box-shadow:inset 0 1px 0 rgba(256, 256, 256, 0.35), 0 1px 3px rgba(0, 0, 0, 0.9);
	-ms-box-shadow:inset 0 1px 0 rgba(256, 256, 256, 0.35), 0 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:inset 0 1px 0 rgba(256, 256, 256, 0.35), 0 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:inset 0 1px 0 rgba(256, 256, 256, 0.35), 0 1px 3px rgba(0, 0, 0, 0.9);
background: #3a3a3a; /* Old browsers */
background: -moz-linear-gradient(top,  #3a3a3a 0%, #252525 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(99%,#252525)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #292929 0%,#252525 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3a3a3a 0%,#252525 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3a3a3a 0%,#252525 99%); /* IE10+ */
background: linear-gradient(to bottom,  #292929 0%,#252525 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#252525',GradientType=0 ); /* IE6-9 */

}




