
.box-button {
	width:200px;
	float:left;
	color:#ededed;
	z-index:0
}
.box-button a:focus {
	background:0;
	outline:0
}
.box-button.watch {
	position:absolute
}
#box-button-one {
	padding:10px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px
}
button a{
	outline:none;
	border:none;
}
#box-button-one h2 {
	font-weight:bold;
	font-size:20px;
	margin:5px 0 13px 0;
	padding:0;
	line-height:1
}
#box-button-one-buttons button {
	display:block;
	width:100%;
	margin-top:5px
}
#box-button-one-buttons button:first-child {
	margin-top:0
}
#box-button-one-buttons .xyz-button {
	line-height:17px
}
#box-button-one-buttons .xyz-button-icon-add {
	width:16px;
	height:17px;
	background:no-repeat url(//s.ytimg.com/yts/imgbin/www-guide-vfluTMyWh.png) -20px -1502px
}
#box-button-one-buttons.signed-out .xyz-button {
	font-size:13px
}
#box-button-one-buttons .xyz-button:active {
	border-color:#666;
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75);
	-ms-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75)
}

.guide-background {
	position:absolute;
	z-index:-1;
	left:0;
	top:5px;
	width:200px;
	height:100%;
	background:#272727
}
.guide {
	background-color:#272727
}
.guide h2, .guide h3 {
	margin:0;
	padding:0
}
.guide-item-container {
	border-top:1px solid #323232;
	border-bottom:1px solid #1b1b1b;
	list-style:none
}
.guide-item-container .video-thumb {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0
}
.guide-item .thumb {
	padding:3px 0
}
.guide-item {
	display:block;
	min-height:28px;
	line-height:28px;
	position:relative;
	margin:0;
	padding:0 5px 0 10px;
	background:#272727;
	background-image:-moz-linear-gradient(top, #292929 0, #252525 100%);
	background-image:-ms-linear-gradient(top, #292929 0, #252525 100%);
	background-image:-o-linear-gradient(top, #292929 0, #252525 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(100%, #252525));
	background-image:-webkit-linear-gradient(top, #292929 0, #252525 100%);
	background-image:linear-gradient(to bottom, #292929 0, #252525 100%);
	color:#999;
	font-size:11px;
	border-right:4px solid transparent;
	cursor:pointer;
	-moz-transition:border 0.2s ease;
	-ms-transition:border 0.2s ease;
	-o-transition:border 0.2s ease;
	-webkit-transition:border 0.2s ease;
	transition:border 0.2s ease
}
h3 .guide-item {
	color:#ededed;
	line-height:34px
}
.guide-item .display-name {
	display:inline-block;
	line-height:1.2em;
	width:115px
}
.guide-item .guide-count {
	margin:9px 0
}
#page h3.guide-item-container {
	border-top:1px solid transparent
}
#page .first h3.guide-item-container {
	border-top:1px solid #323232
}
#page h3.guide-item-container.selected-child, #page h3.guide-item-container:hover {
	border-top:1px solid #323232
}
.guide-item:hover {
	border-right-color:#666;
	text-decoration:none;
	background:#1c1c1c
}
.guide-item.selected, .guide-item.selected:hover {
	border-right-color:#c4302b;
	background:#1c1c1c
}
.guide-item .guide-show-more-less {
	float:left
}
.guide-item .show-more {
	display:none
}
.yt-uix-expander-collapsed .guide-item .show-more {
	display:block
}
.yt-uix-expander-collapsed .guide-item .show-less {
	display:none
}
.yt-uix-expander-collapsed .guide-item-container.hideable {
	display:none
}
.guide-item .system-icon {
	display:inline-block;
	height:28px;
	width:28px;
	background:no-repeat url(//s.ytimg.com/yts/imgbin/www-guide-vfluTMyWh.png) 0 -232px
}
.guide-item .system-icon.category {
	background-position:0 -1380px
}
.guide-item .system-icon.social {
	background-position:-16px -1953px
}
.guide-item .system-icon.popular {
	background-position:0 -232px
}
.guide-item .system-icon.trending {
	background-position:0 -1622px
}
.guide-item .system-icon.music {
	background-position:0 -981px
}
.guide-item .system-icon.topic {
	background-position:0 -1841px
}
.guide-item .system-icon.blog {
	background-position:-14px -1167px
}
.guide-item .system-icon.entertainment {
	background-position:0 -1446px
}
.guide-item .system-icon.spotlight {
	background-position:0 -262px
}
.guide-item .system-icon.sports {
	background-position:0 -66px
}
.guide-item .system-icon.film {
	background-position:-18px -528px
}
.guide-item .system-icon.news {
	background-position:0 -813px
}
.guide-item .system-icon.comedy {
	background-position:0 -2509px
}
.guide-item .system-icon.people {
	background-position:0 -558px
}
.guide-item .system-icon.science {
	background-position:0 -2204px
}
.guide-item .system-icon.travel {
	background-position:0 -498px
}
.guide-item .system-icon.gadgets {
	background-position:-11px -2247px
}
.guide-item .system-icon.animals {
	background-position:0 -1556px
}
.guide-item .system-icon.howto {
	background-position:0 -1259px
}
.guide-item .system-icon.vehicles {
	background-position:0 0
}
.guide-item .system-icon.nonprofits {
	background-position:0 -1923px
}
.guide-item .system-icon.education {
	background-position:0 -689px
}
.guide-item .system-icon.watch-later {
	background-position:0 -1037px
}
.guide-item.guide-recommendation-item, .guide-item.guide-recommendation-item.selected, .guide-item.guide-recommendation-item:hover {
	border-right:0
}
.guide-recommendation-item .guide-subscription-button {
	position:absolute;
	top:5px;
	right:10px
}
.guide-recommendation-item .guide-subscription-button img {
	height:24px;
	width:24px;
	background:no-repeat url(//s.ytimg.com/yts/imgbin/www-guide-vfluTMyWh.png) -20px -1197px
}
.guide-recommendation-item .guide-subscription-button:hover img {
	background-position:-20px -1476px
}
.guide-recommendation-item .guide-subscription-button.subscribed img, .guide-recommendation-item .guide-subscription-button.subscribed:hover img {
	background-position:0 -843px
}
.guide-recommendation-item .guide-subscription-dismiss {
	display:none;
	position:absolute;
	top:50%;
	margin-top:-11px;
	right:-14px;
	line-height:0;
	padding:4px;
	padding-left:2px;
	z-index:1
}
.guide-recommendation-item:hover .guide-subscription-dismiss {
	display:inline-block
}
.guide-recommendation-item:hover .guide-subscription-dismiss img {
	height:15px;
	width:14px;
	background:no-repeat url(//s.ytimg.com/yts/imgbin/www-guide-vfluTMyWh.png) 0 -1953px
}
.guide-recommendation-item .display-name {
	display:inline-block;
	line-height:1
}
.guide-recommendation-item .featured-display-name {
	display:block;
	margin-top:1px
}
.guide-item.guide-item-fake {
	text-align:right
}
.guide-item.guide-item-fake:hover {
	border-right-color:transparent;
	cursor:auto;
	background:#272727
}
.guide-item.guide-item-fake a {
	color:inherit
}
#baseDiv {
	padding-bottom:0
}
.masthead-ad-control {
	text-align:right
}
.masthead-ad-control a {
	cursor:pointer
}
.masthead-ad-control a span, .masthead-ad-control a img {
	vertical-align:middle
}
.masthead-ad-control a:hover {
	text-decoration:none
}
.masthead-ad-control a:hover span {
	text-decoration:underline
}
.masthead-ad-control.open img {
	height:13px;
	width:13px;
	background:no-repeat url(//s.ytimg.com/yts/imgbin/www-master-vfld_95xz.png) -232px -15px
}
.masthead-ad-control.open a:hover img {
	background-position:-77px 0
}
.masthead-ad-control.open a:active img {
	background-position:-232px -30px
}
#video-sidebar .pyv-large-thumb h3 {
	margin:0
}
#video-sidebar .pyv-large-thumb .large-thumb {
	min-height:226px
}
#video-sidebar .pyv-large-thumb p, #video-sidebar .pyv-large-thumb .extra-info span {
	margin-left:0
}
#footer-container {
	margin-top:0
}
.thumb {
	display:inline-block;
	margin-right:5px
}
.thumb, .display-name {
	line-height:0;
	vertical-align:middle
}
.back-arrow {
	border:4px solid transparent;
	border-right-color:#eee;
	border-left-width:0;
	height:0;
	width:0;
	line-height:0;
	margin-right:3px
}
#video-sidebar {
	width:300px;
	float:right
}
#video-sidebar h2, #video-sidebar h3, #video-sidebar p {
	margin-left:5px;
	color:#666
}
#video-sidebar h3 {
	margin-top:0;
	font-weight:normal;
	font-size:11px
}
#video-sidebar h2 {
	color:#333
}
#video-sidebar p {
	font-size:11px;
	margin-bottom:5px
}
#video-sidebar .sidebar-module-description {
	margin-top:5px
}
#video-sidebar ul {
	margin-bottom:20px
}
#video-sidebar .video-list-item .related-video {
	padding-right:20px
}
#video-sidebar .video-list-item .title {
	width:auto;
	font-weight:bold
}
#video-sidebar .related-playlist .title, #video-sidebar .related-video .title, #video-sidebar .video-list-item-link .title, #video-sidebar .recommended-videos-link {
	color:#333
}
#video-sidebar .video-list-item:hover a, #video-sidebar .video-list-item:hover .title {
	color:#1c62b9;
	text-decoration:none
}
#video-sidebar .video-list-item:hover .title:hover {
	text-decoration:underline
}
#video-sidebar .recommended-videos-link:hover {
	color:#1c62b9;
	text-decoration:underline
}
#video-sidebar .recommended-video-item {
	position:relative
}
#video-sidebar .recommended-video-item .recommended-video-dismiss {
	position:absolute;
	top:5px;
	right:5px;
	visibility:hidden
}
#video-sidebar .recommended-video-item:hover .recommended-video-dismiss {
	visibility:visible
}
#video-sidebar .related-playlist:visited .title, #video-sidebar .related-video:visited .title, #video-sidebar .video-list-item-link:visited .title {
	color:#3e1fa0
}
#video-sidebar .video-list-item {
	border:1px solid transparent
}
#video-sidebar .video-list-item:hover {
	background:#fff;
	border-bottom-color:#ccc;
	border-right-color:#ccc
}
#video-sidebar .show-entry {
	overflow:hidden;
	padding:5px;
	border:1px solid transparent
}
#video-sidebar .show-entry a {
	color:inherit
}
#video-sidebar .show-entry:hover a {
	color:#1c62b9
}
#video-sidebar .show-thumb {
	float:left
}
#video-sidebar .show-content {
	margin-left:130px
}
#video-sidebar .show-content h4, #video-sidebar .show-content p {
	margin:0;
	margin-bottom:5px
}
#video-sidebar .show-content h4 {
	font-size:1em
}


#personal-feeds .guide-item.selected, #personal-feeds .guide-item:hover {
	background:#1c1c1c
}



.box-result {
	width:150px;
	float:left;
	color:#ededed;
	z-index:0
}
.box-result a:focus {
	background:0;
	outline:0
}
.box-result.result-xyz {
	position:absolute
}
#box-result-one {
	padding:10px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px
}
#box-result-one h2 {
	font-weight:bold;
	font-size:20px;
	margin:5px 0 13px 0;
	padding:0;
	line-height:1
}
#box-result-one-buttons button {
	display:block;
	width:100%;
	margin-top:5px
}
#box-result-one-buttons button:first-child {
	margin-top:0
}
#box-result-one-buttons .xyz-result {
	text-decoration:none;
	line-height:17px
}
#box-result-one-buttons .xyz-result-icon-add {
	width:16px;
	height:17px;
	background:no-repeat url(//s.ytimg.com/yts/imgbin/www-guide-vfluTMyWh.png) -20px -1502px
}
#box-result-one-buttons.signed-out .xyz-result {
	text-decoration:none;
	font-size:13px
}
#box-result-one-buttons .xyz-result:active {
	text-decoration:none;
	border-color:#666;
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75);
	-ms-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.75)
}

