@charset "utf-8";
/* CSS Document */
/*1348723529,178142509*/






ul{list-style-type:none;margin:0;padding:0}
hr{background:#d9d9d9; border-width:0;color:#d9d9d9;}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}


a div{
	background:url(../images/top-dot.png) no-repeat 5px 10px;
	padding:0 0 0 0;
}


.rfloat{
	width:370px;
	float:left;
	margin:0px;
	padding:0px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
}






#pageNav .navItem, #pageNav #navAccount{float:left;}
#pageNav .navItem a, #pageNav #navAccountLink{color:#d8dfea; display:inline-block;font: Arial, Verdana, Helvetica, sans-serif;font-weight:thin; position:relative;text-decoration:none;vertical-align:top; float:right;}

#pageNav .navItem a:hover, #pageNav .navItem a:focus, #pageNav .navItem a:active, #pageNav #navAccountLink:hover, #pageNav #navAccountLink:focus, #pageNav #navAccountLink:active{ background:#595959;font-weight:normal;color:#fff;outline:none;z-index:1}





.no_js #navAccount:hover, #pageNav #navAccount.openToggler{
position:relative;top:1px; margin:0px; padding:0px; height:20px; border: 1px solid #FF0000;
}
.no_js #navAccount:hover #navAccountLink, #navAccount.openToggler #navAccountLink{
background-color:#fff;border:1px solid #333;border-bottom:0;color:#333;margin:-1px -1px 0 -2px;position:relative;z-index:2
}
.no_js #navAccountLink:hover, #navAccount.openToggler #navAccountLink:hover, #navAccount.openToggler #navAccountLink:focus, #navAccount.openToggler #navAccountLink:active{
background:#fff;
}
.no_js #navAccount:hover #navAccountLink, #pageNav #navAccount.openToggler #navAccountLink{
padding-left:0
}
#navAccountLink .menuPulldown{
 height:20px; overflow:hidden; width:18px; float:left; 
}
#navAccountLink:hover .menuPulldown{

}
.no_js #navAccount:hover #navAccountLink .menuPulldown, #navAccount.openToggler #navAccountLink .menuPulldown, #navAccount.openToggler #navAccountLink:hover .menuPulldown{
background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y8/x/7k3UM10EhJI.png) !important;background-repeat:no-repeat !important;background-size:auto !important;background-position:-77px -253px !important;background-color:#fff;
}
#navAccount .contextualHelp, #navAccount .navigation{
background:#fff;border:1px solid #333;border-bottom:1px solid #333;margin-top:-1px;padding:0px 0;position:absolute;right:-1px;top:100%;z-index:1}
#navAccount .navigation{display:none;min-width:200px
}
.no_js #navAccount:hover .navigation, #navAccount.openToggler .navigation{
display:block}
#pageNav .menuDivider{background:#ddd;font-size:0;height:1px;line-height:0;margin:0px 0px;
}
#pageNav #navAccount .navSubmenu{
border-bottom:1px solid #fff;border-top:1px solid #fff;color:#222;display:block; line-height:18px;overflow:hidden; padding:0 22px;text-overflow:ellipsis;white-space:nowrap;
}
#pageNav #navAccount .navSubmenu:hover, #pageNav #navAccount .navSubmenu:focus, #pageNav #navAccount .navSubmenu:active{
background:#4e4e4e;border-bottom:1px solid #202020;border-top:1px solid #202020;color:#fff;text-decoration:none;
}
#pageNav #navAccount .navSubmenu input{
color:#222;display:block;margin-top:-1px;padding:0;
}
#pageNav #navAccount .navSubmenu input:hover, #pageNav #navAccount .navSubmenu input:focus, #pageNav #navAccount .navSubmenu input:active{
color:#fff;text-decoration:none;
}


.openToggler .uiToggleFlyout, .openToggler .uiToggleFlyout .openToggler .uiToggleFlyout{display:block}
.hideToggler{border:0;height:0;opacity:0;overflow:hidden;pointer-events:none;position:absolute;width:0}


.table-text-mates{
	font:10px Arial, Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	width:76px;
	padding:6px 0px 2px 2px;
	text-align:left;
	position:absolute;
	margin-top:-33.8px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )!important; /* IE6-8 */
}
/*.table-text-mates a{
	font:10px Arial, Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	padding:2px;
	width:78ppx;
	padding:2px;
	float:left;
	bottom:0px;
	text-decoration:none;
	margin-top:0px;
	
}*/
.table-text-mates-all{
	font:10px Arial, Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	width:78px;
	padding:6px 0px 2px 2px;
	text-align:left;
	position:absolute;
	margin-top:-22px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )!important; /* IE6-8 */
}
/*.table-text-mates-all a{
	font:10px Arial, Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	padding:2px;
	width:76px;
	padding:2px;
	float:left;
	bottom:0px;
	text-decoration:none;
	margin-top:0px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )!important; /* IE6-8 */
}
*/
