/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 5%;
    width: 400px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    min-height: 1px;
    z-index: 999;
    margin: 4px;
    padding: 4px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-facebook li input {
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
		border: 0;
    width: 100px;
    padding: 3px 5px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
 		overflow: hidden;
    border: 1px solid #3b5998; 
    height: auto !important; 
    height: 30px;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(40, 175, 231)), to(rgb(17, 146, 200)));
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		color: rgb(255, 255, 255);
    cursor: default;
		margin: 2px;
		outline: none;
    font-size: 12px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
		float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 408px;
		max-height: 200px;
    background-color: #fff;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
/*    padding: 8px;*/
    margin: 0;
    list-style-type: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
		height:20px;
		padding-top:8px;
		padding-left:5px;
		padding-right:5px;
		font-family: Arial, Verdana, Helvetica, sans-serif;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
		height:20px;
		padding-top:8px;
		padding-left:5px;
		padding-right:5px;
		font-family: Arial, Verdana, Helvetica, sans-serif;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
		height:20px;
		padding-top:8px;
		padding-left:5px;
		padding-right:5px;
		font-family: Arial, Verdana, Helvetica, sans-serif;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #DCDCDC;
		height:20px;
		padding-top:8px;
		padding-left:5px;
		padding-right:5px;
    color: black;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}