
.recur-icon {
	background-position:-745px 0;
	display:inline-block;
	width:20px;
	background:url(../images/playback.png) no-repeat left;
	height:20px;
	vertical-align:top;
	position:relative;
	top:8px;
	float:left;
	margin-right:5px
}
.recur-selector {
	padding:0;
	display:inline-block;
	float:left;
	line-height:30px
}
.recur-selector div {
	padding:0;
	display:inline-block;
	line-height:25px;
	text-align:center;
	width:25px;
	height:25px;
	background-color:#dfdfdf;
	margin-right:-3px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none
}
.recur-selector div a {
	padding:0;
	display:inline-block;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
	text-decoration:none;
	background-color:#dfdfdf;
	margin-right:-3px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none
}
.recur-selector div a:hover {
	background:#555;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#FF0000;
	height:25px;
	margin-right:-3px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none
}
.recur-selector div.select-monday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-monday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}
.recur-selector div.select-tuesday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-tuesday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}
.recur-selector div.select-wednesday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-wednesday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}
.recur-selector div.select-thursday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-thursday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}
.recur-selector div.select-friday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-friday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}
.recur-selector div.select-saturday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-saturday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}
.recur-selector div.select-sunday {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	color:#000000;
	height:25px;
}
.recur-selector div.select-sunday .selected {
	padding:0;
	line-height:25px;
	text-align:center;
	width:25px;
	background:#006666;
	color:#000000;
	height:25px;
}

.recur-selector:hover {
	cursor:pointer
}
.composer-container {
	position:relative;
	width:100%;
	float:left;
	margin-top:20px;
	margin-bottom:20px
}
.composer-container .composer.limited {
	margin-top:20px
}
.composer-container .placeholder {
	color:#acb6bf;
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	left:6px;
	top:6px
}
.composer {
	background:#fff;
	position:relative;
	width:100%;
	height:50px;
	float:left
}
.composer .gray-card {
	background-color:#f6f6f8;
	border:1px solid #ddd;
	padding:10px;
	float:left;
	width:100%
}
.composer:hover .add-resource {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1
}
.composer .user-photo:hover .hover-card {
	visibility:hidden
}
.composer input {
	background-color:#fff;
	border:none;
	resize:none;
	outline:none;
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	font-size:13px;
	-webkit-font-smoothing:antialiased
}
.composer input:focus {
	cursor:inherit
}
.composer .editor-with-buttons {
	position:relative;
	width:100%;
	bottom:0
}
.composer .resource-search-input {
	width:400px;
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	height:18px;
	margin-top:9px;
	border:none;
	outline:none;
	resize:none;
	background-color:#fff;
	border:1px solid #ddd;
	border-top-color:#ccc;
	padding:4px 6px;
	color:#303030
}
.composer .resource-search-input.input-placeholder {
	color:#6b7985;
	background-color:transparent;
	border:1px solid #f6f6f8
}
.composer .resource-search-input.input-placeholder:hover {
	background-color:#fff;
	color:#acb6bf;
	border:1px solid #ddd;
	border-top-color:#ccc
}
.composer .search-resources {
	width:560px;
	position:relative;
	overflow:hidden
}


.box{
	width:400px;
	float:left;
	margin:0ppx;
	padding:0px;
	border:1px solid #999999;
}

.box div{
	background:#fff;
	color:#000;
	padding:1px;
	width:16px;
	text-align:center;
	height:18px;
	line-height:18px;
	float:left;
	margin:0px 1px 1px 0;
	border:1px solid #555;
}
.box div a{
	background:#00CC99;
	text-decoration:none;
	color:#003399;;
}
.box div a:hover{
	color:#fff;
	border-color:#1c52d1 #1c52d1 #000;
			-moz-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-ms-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3369e8,EndColorStr=#3369e8);
			background-image:-moz-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-ms-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-o-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3369e8),color-stop(100%,#3369e8));
			background-image:-webkit-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:linear-gradient(to bottom,#3369e8 0,#3369e8 100%)
}
.box div .selected{
	color:#fff;
	border-color:#1c52d1 #1c52d1 #000;
			-moz-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-ms-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3369e8,EndColorStr=#3369e8);
			background-image:-moz-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-ms-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-o-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3369e8),color-stop(100%,#3369e8));
			background-image:-webkit-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:linear-gradient(to bottom,#3369e8 0,#3369e8 100%)
}
.box c{
	background:#fff;
	color:#000;
	padding:1px;
	width:16px;
	text-align:center;
	height:18px;
	line-height:18px;
	float:left;
	margin:0px 1px 1px 0;
	border:1px solid #555;
}
.box c:hover{
	color:#fff;
	border-color:#1c52d1 #1c52d1 #000;
			-moz-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-ms-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3369e8,EndColorStr=#3369e8);
			background-image:-moz-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-ms-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-o-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3369e8),color-stop(100%,#3369e8));
			background-image:-webkit-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:linear-gradient(to bottom,#3369e8 0,#3369e8 100%)
}
.box c .selected{
	color:#555;
	border-color:#1c52d1 #1c52d1 #000;
			-moz-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-ms-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3369e8,EndColorStr=#3369e8);
			background-image:-moz-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-ms-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-o-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3369e8),color-stop(100%,#3369e8));
			background-image:-webkit-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:linear-gradient(to bottom,#3369e8 0,#3369e8 100%)
}
.box d{
	background:#fff;
	color:#000;
	padding:1px;
	width:16px;
	text-align:center;
	height:18px;
	line-height:18px;
	float:left;
	margin:0px 1px 1px 0;
	border:1px solid #555;
}
.box d:hover{
	color:#fff;
	border-color:#1c52d1 #1c52d1 #000;
			-moz-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-ms-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3369e8,EndColorStr=#3369e8);
			background-image:-moz-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-ms-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-o-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3369e8),color-stop(100%,#3369e8));
			background-image:-webkit-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:linear-gradient(to bottom,#3369e8 0,#3369e8 100%)
}
.box d .selected{
	color:#00ff;
	border-color:#1c52d1 #1c52d1 #000;
			-moz-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-ms-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			box-shadow:inset 0 1px 0 rgba(256,256,256,0.35),0 1px 3px rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3369e8,EndColorStr=#3369e8);
			background-image:-moz-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-ms-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-o-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#3369e8),color-stop(100%,#3369e8));
			background-image:-webkit-linear-gradient(top,#3369e8 0,#3369e8 100%);
			background-image:linear-gradient(to bottom,#3369e8 0,#3369e8 100%)
}