

.user-photo-1 {
	display:inline-block;
	position:relative;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	-webkit-transition:opacity 500ms;
	-moz-transition:opacity 500ms;
	-ms-transition:opacity 500ms;
	-o-transition:opacity 500ms;
	transition:opacity 500ms
}
.user-photo-1 .role-callout-1 {
	border:1px;
	position:absolute;
	top:5px;
	left:5px;
	padding:5px;
	border:2px solid transparent
}
.user-photo-1.is-new {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0
}
.user-photo-1 .user-name {
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:13px;
	color:#fff;
	font-weight:normal;
	display:block;
	position:absolute;
	bottom:-43px;
	left:2px;
	top:100;
	width:100%;
	overflow:hidden;
	padding:8px
}
.user-photo-1.custom-photo .user-name {
	text-shadow:#000 0 0 4px;
	background-color:#000 rgba(0, 0, 0, 0.25);
	background-position-y:top;
	background-repeat:repeat-x
}
.user-photo-1:hover .hover-card-1, .user-photo-1.hover .hover-card-1 {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	display:block;
	visibility:visible;
	-webkit-transition:opacity 100ms 150ms;
	-moz-transition:opacity 100ms 150ms;
	-ms-transition:opacity 100ms 150ms;
	-o-transition:opacity 100ms 150ms;
	transition:opacity 100ms 150ms
}
.user-photo-1 .hover-card-1 {
	-webkit-transition:opacity 0ms 0ms, visibility 0ms ms;
	-moz-transition:opacity 0ms 0ms, visibility 0ms ms;
	-ms-transition:opacity 0ms 0ms, visibility 0ms ms;
	-o-transition:opacity 0ms 0ms, visibility 0ms ms;
	transition:opacity 0ms 0ms, visibility 0ms ms;
	visibility:hidden;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-box-shadow:0 0 5px 1px #888;
	-moz-box-shadow:0 0 5px 1px #888;
	box-shadow:0 0 5px 1px #888;
	position:absolute;
	top:150;
	left:0;
	z-index:1200;
	background:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	padding:0px;
	margin:-16px 0 0 0;
	width:300px;
	line-height:16px
}
.user-photo-1 .hover-card-1.has_top_row-1 {
	top:40px;
}
.user-photo-1 .hover-card-1.ghost .normal-info {
	display:none
}
.user-photo-1 .hover-card-1.ghost .email-1 {
	display:block;
	font-size:20px;
	color:#303030;
	padding-top:20px;
	padding-left:20px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	height:50px
}
.user-photo-1 .hover-card-1.ghost .bottom {
	display:none
}
.user-photo-1 .hover-card-1.ghost .info-1 .ghost-info-1 {
	display:block;
	height:100%
}
.user-photo-1 .hover-card-1.ghost .info-1 .ghost-info-1 .ghost-options {
	position:absolute;
	bottom:0
}
.user-photo-1 .hover-card-1.ghost .info-1 .ghost-info-1 .ghost-options.hide-ghost {
	display:none
}
.user-photo-1 .hover-card-1.ghost .info-1 .ghost-info-1 .ghost-options button {
	background:#eefcf0;
	color:gray;
	width:125px;
	float:left
}
.user-photo-1 .hover-card-1.ghost .info-1 .ghost-info-1 .ghost-options button:hover {
	color:#fff;
	background:#6ebf76
}
.user-photo-1 .hover-card-1.ghost .info-1 .ghost-info-1 .ghost-options .remove {
	border-right:1px solid #8a8c8a
}
.user-photo-1 .hover-card-1.ghost.has_top_row-1 .info-1 .ghost-info-1 .ghost-options {
	display:none
}
.user-photo-1 .hover-card-1 img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:150px;
}
.user-photo-1 .hover-card-1 .info-1 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:250px;
}
.normal-info {
	padding:0px 0px;
	float:left;
	width:160px;
	text-align:left;
	height:50px;
	margin:-85px 0 0 100px;
}
.normal-info span {
	padding:0px 0px;
	float:left;
	display:block;
	margin:0px 0 0 0px;
}

.user-photo-1 .hover-card-1 .info-1 .normal-info span .short_info {
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	display:block;
	text-align:left;
	width:140px;
	float:right;
	margin:0px 0 0 0px;
}
.user-photo-1 .hover-card-1 .info-1 .normal-info .name {
	font-size:18px;
	line-height:24px;
	color:#6b7985;
	width:120px;
	display:block;
	padding:0px;
	margin:0px 0 10px 0px;
}
.user-photo-1 .hover-card-1 .info-1 .ghost-info-1 {
}
.user-photo-1 .hover-card-1 .info-1 .description {
	margin-top:20px;
	font-size:14px;
	color:#999;
	line-height:16px;
	height:50px
}
.user-photo-1 .hover-card-1 .info-1 .name {
	
}
.user-photo-1 .hover-card-1 .info-1 .name:hover {
	color:#21b5ba;
	text-decoration:none
}
.user-photo-1 .hover-card-1 .info-1 .short_info {
	
}
.user-photo-1 .hover-card-1 .bottom {
	border-top:1px solid #dbdcdd;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:400px
}
.user-photo-1 .hover-card-1 .bottom .courier .send {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:50px;
	background-position:-807px -270px;
	position:absolute;
	bottom:0;
	right:0;
	background-color:#fff;
	z-index:15
}
.user-photo-1 .hover-card-1 .bottom .courier .send:hover, .user-photo-1 .hover-card-1 .bottom .courier .send.chat_hover, .user-photo-1 .hover-card-1 .bottom .courier .send.chat-hover {
	background-position:-50px -545px
}
.user-photo-1 .hover-card-1 .bottom .courier .send:hover {
	background-color:#6ebf76
}
.user-photo-1 .hover-card-1 .bottom.empty .edit-and-tag {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:250px
}
.user-photo-1 .hover-card-1 .bottom.empty .follow {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:148px
}
.user-photo-1 .hover-card-1 .bottom.empty .input {
	float:left;
	position:relative
}
.user-photo-1 .hover-card-1 .bottom.empty .input .placeholder {
	display:block;
	position:absolute;
	text-indent:25px;
	color:#999;
	top:0;
	left:0;
	font-size:14px;
	line-height:50px
}
.user-photo-1 .hover-card-1 .bottom .edit-and-tag {
	font-size:14px;
	line-height:20px;
	-webkit-transition:width 500ms;
	-moz-transition:width 500ms;
	-ms-transition:width 500ms;
	-o-transition:width 500ms;
	transition:width 500ms;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:400px
}
.user-photo-1 .hover-card-1 .bottom .follow {
	-webkit-transition:width 500ms;
	-moz-transition:width 500ms;
	-ms-transition:width 500ms;
	-o-transition:width 500ms;
	transition:width 500ms;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:0px;
	background:#ededee
}
.user-photo-1 .hover-card-1 .bottom .follow:hover {
	background:#6ebf76;
	color:#fff
}
.user-photo-1 .hover-card-1 .bottom .placeholder {
	display:none
}
.user-photo-1 .hover-card-1.post img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:100px;
}
.user-photo-1 .hover-card-1.post .info-1 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px;
}
.user-photo-1 .hover-card-1.post .bottom.empty .follow {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:100px
}
.user-photo-1 .hover-card-1.post .bottom.empty .edit-and-tag {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px
}
.user-photo-1 .hover-card-1 .top-row-1 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px;
	border-bottom:1px solid #dbdcdd;
	color:#21b5ba;
}
.user-photo-1 .hover-card-1 .top-row-1 button {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	float:left
}
.user-photo-1 .hover-card-1 .top-row-1 button.destructive-action-1 {
	color:#e92105;
	outline:none;
	border:none;
	width:134px;
	height:22px;
	float:left;
	cursor:default;
}
.user-photo-1 .hover-card-1 .top-row-1 button.destructive-action-1:hover {
	background:#fed4d9
}
.user-photo-1 .hover-card-1 .top-row-1 button.constructive-action-1 {
	color:#fff;
	height:22px;
	outline:none;
	border:none;
	background:#03c281;
}
.user-photo-1 .hover-card-1 .top-row-1 button.constructive-action-1:hover {
	background:#e6f8f9
}
.user-photo-1 .hover-card-1 .top-row-1 button.no-action {
	cursor:default;
}
.user-photo-1 .hover-card-1 .top-row-1 .left-2 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:right;
	width:160px;
	border-right:1px solid #dbdcdd;
}
.user-photo-1 .hover-card-1 .top-row-1 .left-2.wide {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:400px;
}
.user-photo-1 .hover-card-1 .top-row-1 .middle-1 {
	border-right:1px solid #dbdcdd;
	display:none
}
.user-photo-1 .hover-card-1 .top-row-1 .box-right-1 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:150px
}
.user-photo-1 .hover-card-1 .top-row-1 .box-right-1 input{
	outline:none;
	border:none;
	}
.user-photo-1 .hover-card-1 .top-row-1.request button {
	background:#e6f8f9;
	width:50px;
	float:left;
	margin:0px;
	padding:0px;
}
.user-photo-1 .hover-card-1 .top-row-1.request button.clickable:hover, .user-photo-1 .hover-card-1 .top-row-1.request button.destructive-action-1:hover, .user-photo-1 .hover-card-1 .top-row-1.request button.constructive-action-1:hover {
	background:#fff;
	color:#000
}
.user-photo-1 .hover-card-1 .top-row-1.request .left-2 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	margin:0px;
	padding:0px;
	width:200px
}
.user-photo-1 .hover-card-1 .top-row-1.request .middle-1 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:50px;
	display:block
}
.user-photo-1 .hover-card-1 .top-row-1.request .right {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px;
	outline:none;
	border:none;
}
.user-photo-1 .hover-card-1.flipped {
	right:0;
	left:auto
}
.user-photo-1 .hover-card-1.flipped .user-hover-photo, .user-photo-1 .hover-card-1.flipped.large-1 .post img.user-hover-photo {
	float:left;
	margin:0px 0px 0px 0px;
}


.box-red{
	width:20px;
	float:left;
	margin:2px 0 0 4px;
	padding:1px;
	background:#FF0000;
	font:10px normal Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	border:1px solid #fff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.box-green{
	width:20px;
	float:left;
	margin:2px 0 0 4px;
	padding:1px;
	background:#428b11;
	font:10px normal Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	border:1px solid #fff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
