.people-page-person {
	float:left;
	position:relative;
}
.people-page-wrapper {
	margin-top:250px;
	position:relative
}
.people-page-wrapper .blank-slate {
	display:none
}
.people-page-wrapper .the-people {
*zoom:1;
	margin-bottom:20px;
	position:relative;
	top:25px
}
.people-page-wrapper .the-people:after {
	content:"";
	display:table;
	clear:both
}
.people-page-wrapper.empty .the-people {
	display:none
}
.people-page-wrapper.empty.member .blank-slate.member {
	height:320px;
	font-size:34px;
	line-height:34px;
	font-size:18px;
	line-height:24px;
	font-family:"Graphik", "Helvetica Neue", Arial, sans-serif;
	font-weight:700;
	font-family:"GraphikLight", "Helvetica Neue", Arial, sans-serif;
	font-weight:300;
	-webkit-font-smoothing:subpixel-antialiased;
	display:block;
	margin-left:30px;
	font-size:50px;
	line-height:60px
}
.people-page-wrapper.empty.admin .blank-slate.admin {
	height:320px;
	font-size:34px;
	line-height:34px;
	font-size:18px;
	line-height:24px;
	font-family:"Graphik", "Helvetica Neue", Arial, sans-serif;
	font-weight:700;
	font-family:"GraphikLight", "Helvetica Neue", Arial, sans-serif;
	font-weight:300;
	-webkit-font-smoothing:subpixel-antialiased;
	display:block;
	margin-left:30px;
	font-size:50px;
	line-height:60px
}
.people-page-wrapper h1 {
	font-size:34px;
	line-height:34px;
	font-family:"Graphik", "Helvetica Neue", Arial, sans-serif;
	font-weight:700;
	font-family:"GraphikLight", "Helvetica Neue", Arial, sans-serif;
	font-weight:300;
	margin-left:50px
}
.people-page-wrapper .users, .people-page-wrapper .auditors {
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:900px;
	top:10px;
	line-height:0;
	font-size:0;
	margin:0 auto;
	float:none;
*zoom:1
}
.people-page-wrapper .users, .people-page-wrapper .auditors {
width:900px
}
.people-page-wrapper .users, .people-page-wrapper .auditors {
width:600px
}
}
.people-page-wrapper .users:after, .people-page-wrapper .auditors:after {
	content:"";
	display:table;
	clear:both
}
.people-page-wrapper .users .user-photo.group_admin img, .people-page-wrapper .auditors .user-photo.group_admin img {
	width:146px;
	height:146px;
	padding:1px;
	border:1px solid #6b7985;
}
.people-page-wrapper .users .unclaimed-user-photo, .people-page-wrapper .auditors .unclaimed-user-photo {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:300px;
	display:block;
	height:150px;
	border:1px solid #6b7985;
	margin-bottom:20px;
	position:relative
}
.people-page-wrapper .users .unclaimed-user-photo img, .people-page-wrapper .auditors .unclaimed-user-photo img {
	float:left;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4
}
.people-page-wrapper .users .unclaimed-user-photo .text, .people-page-wrapper .auditors .unclaimed-user-photo .text {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:105px;
	-webkit-transition:width linear 200ms;
	-moz-transition:width linear 200ms;
	-ms-transition:width linear 200ms;
	-o-transition:width linear 200ms;
	transition:width linear 200ms;
	background-color:#fff;
	color:#6b7985;
	font-size:14px;
	line-height:18px;
	padding:10px;
	position:absolute;
	right:0
}
.people-page-wrapper .users .unclaimed-user-photo .text a, .people-page-wrapper .auditors .unclaimed-user-photo .text a {
	color:#6b7985
}
.people-page-wrapper .users .unclaimed-user-photo .text a.become-admin, .people-page-wrapper .auditors .unclaimed-user-photo .text a.become-admin {
	font-weight:bold
}
.people-page-wrapper .people-overlay {
	position:absolute;
	top:-50px;
	left:0;
	height:100%;
	width:100%;
	background:#f6f7f8;
	visibility:hidden;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-ms-transition:opacity 1s;
	-o-transition:opacity 1s;
	transition:opacity 1s
}
.people-page-wrapper .the-auditors, .people-page-wrapper .pending-members {
	margin-top:60px;
	margin-bottom:50px;
*zoom:1
}
.people-page-wrapper .the-auditors:after, .people-page-wrapper .pending-members:after {
	content:"";
	display:table;
	clear:both
}
.people-page-wrapper .the-auditors .header, .people-page-wrapper .pending-members .header {
	margin-bottom:10px;
	margin-left:50px
}
.people-page-wrapper .the-auditors .header .title, .people-page-wrapper .pending-members .header .title {
	font-size:34px;
	line-height:34px;
	font-family:"Graphik", "Helvetica Neue", Arial, sans-serif;
	font-weight:700;
	font-family:"GraphikLight", "Helvetica Neue", Arial, sans-serif;
	font-weight:300
}
.people-page-wrapper .the-auditors .the-pending-members, .people-page-wrapper .pending-members .the-pending-members {
	margin-left:20px
}
.people-page-wrapper .invite-people {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:950px;
	display:block;
	padding:0px 0 35px;
	position:relative;
	top:-50px;
	z-index:2
}
.people-page-wrapper .invite-people {
width:900px
}
.people-page-wrapper .invite-people {
width:650px
}
}
.people-page-wrapper .invite-people .inviter {
	background:#fff;
	position:relative;
	white-space:nowrap;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:950px;
	display:block;
	border-bottom:1px solid #6b7985;
	float:right
}
.people-page-wrapper .invite-people .inviter {
width:900px
}
.people-page-wrapper .invite-people .inviter {
width:650px
}
}
.people-page-wrapper .invite-people .inviter .buttons {
	float:right;
	width:auto;
	position:absolute;
	bottom:0;
	right:0;
	z-index:3
}
.people-page-wrapper .invite-people .inviter .buttons .type-picker {
	display:none;
	width:220px;
	background:#fff;
	border-bottom:1px solid #f1f1f2;
	border-left:1px solid #f1f1f2
}
.people-page-wrapper .invite-people .inviter .buttons .type-picker .type {
	white-space:nowrap;
	padding:1px 20px 0;
	color:#333
}
.people-page-wrapper .invite-people .inviter .buttons .type-picker .arrow {
	background-position:-1155px -50px;
	margin-top:-15px;
	width:15px;
	height:24px;
	float:right
}
.people-page-wrapper .invite-people .inviter .buttons .type-picker:hover .arrow {
	background-image:url(../img/ic_sprite.png)
}
.people-page-wrapper .invite-people .inviter .buttons .dropdown {
	position:absolute;
	right:0px;
	top:50px;
	display:none;
	z-index:8;
	font-size:12px;
	border-left:1px solid #f1f1f2;
	border-right:1px solid #f1f1f2;
	border-bottom:1px solid #f1f1f2;
	width:200px
}
.people-page-wrapper .invite-people .inviter .buttons .dropdown .option {
	width:198px;
	padding:7px 20px 6px 20px;
	border-top:1px solid #f1f1f2;
	text-transform:uppercase;
	background:#fff;
	color:#303030
}
.people-page-wrapper .invite-people .inviter .buttons .dropdown .option:hover {
	color:#21b5ba;
	cursor:pointer
}
.people-page-wrapper .invite-people .inviter .buttons .dropdown .option:first-child {
	border-top:1px solid transparent
}
.people-page-wrapper .invite-people .inviter .buttons.dropdown-open .dropdown {
	display:block
}
.people-page-wrapper .invite-people .inviter .buttons .do-invite {
	width:200px;
	-webkit-transition:box-shadow 100ms linear, color 100ms linear;
	-moz-transition:box-shadow 100ms linear, color 100ms linear;
	-ms-transition:box-shadow 100ms linear, color 100ms linear;
	-o-transition:box-shadow 100ms linear, color 100ms linear;
	transition:box-shadow 100ms linear, color 100ms linear;
	-webkit-transition:background-color 100ms linear, color 100ms linear;
	-moz-transition:background-color 100ms linear, color 100ms linear;
	-ms-transition:background-color 100ms linear, color 100ms linear;
	-o-transition:background-color 100ms linear, color 100ms linear;
	transition:background-color 100ms linear, color 100ms linear;
	-webkit-box-shadow:rgba(128, 128, 128, 0.25) 1px 1px 3px 0;
	-moz-box-shadow:rgba(128, 128, 128, 0.25) 1px 1px 3px 0;
	box-shadow:rgba(128, 128, 128, 0.25) 1px 1px 3px 0;
	text-transform:capitalize;
	border:1px solid #21b5ba;
	background-color:#cef5f6;
	color:#21b5ba;
	line-height:normal;
	text-indent:0;
	margin-left:10px;
	text-decoration:none
}
.people-page-wrapper .invite-people .inviter .buttons .do-invite:hover, .people-page-wrapper .invite-people .inviter .buttons .do-invite.hover {
	-webkit-box-shadow:rgba(128, 128, 128, 0.25) 1px 1px 5px 0;
	-moz-box-shadow:rgba(128, 128, 128, 0.25) 1px 1px 5px 0;
	box-shadow:rgba(128, 128, 128, 0.25) 1px 1px 5px 0;
	background-color:#e6fafb;
	text-decoration:none
}
.people-page-wrapper .invite-people .inviter .buttons .do-invite:active {
	-webkit-box-shadow:#21b5ba 1px 1px 0 0 inset;
	-moz-box-shadow:#21b5ba 1px 1px 0 0 inset;
	box-shadow:#21b5ba 1px 1px 0 0 inset
}
.people-page-wrapper .invite-people .inviter .buttons .do-invite[disabled] {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:#e1e4e7;
	cursor:default;
	border-color:#6b7985;
	color:#6b7985
}
.people-page-wrapper .invite-people .inviter .buttons .do-invite[disabled]:active {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.people-page-wrapper .invite-people .inviter .buttons .do-invite[disabled]:hover, .people-page-wrapper .invite-people .inviter .buttons .do-invite[disabled].hover {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.people-page-wrapper .invite-people .inviter .adder {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:950px;
	overflow:hidden
}
.people-page-wrapper .invite-people .inviter .adder {
width:900px
}

.people-page-wrapper .invite-people .inviter .adder {
width:650px
}
}
.people-page-wrapper .invite-people .inviter .adder .placeholder {
	font-size:34px;
	line-height:34px;
	font-size:18px;
	line-height:24px;
	font-size:24px;
	margin-left:5px;
	height:50px;
	line-height:50px;
	position:absolute;
	color:#888;
	display:none;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	-webkit-transition:opacity 1s 500ms;
	-moz-transition:opacity 1s 500ms;
	-ms-transition:opacity 1s 500ms;
	-o-transition:opacity 1s 500ms;
	transition:opacity 1s 500ms
}
.people-page-wrapper .invite-people .inviter .adder.empty .placeholder {
	display:block
}
.people-page-wrapper .invite-people .inviter .adder .input-cancel {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	-webkit-transition:opacity 1s 500ms;
	-moz-transition:opacity 1s 500ms;
	-ms-transition:opacity 1s 500ms;
	-o-transition:opacity 1s 500ms;
	transition:opacity 1s 500ms;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:50px;
	background-position:-313px -60px;
	height:20px;
	width:20px;
	margin:15px
}
.people-page-wrapper .invite-people .inviter .adder .input-cancel:hover, .people-page-wrapper .invite-people .inviter .adder .input-cancel.close_med_hover, .people-page-wrapper .invite-people .inviter .adder .input-cancel.close_med-hover {
	background-position:-293px -60px
}
.people-page-wrapper .invite-people .inviter .adder .invite-box-holder {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:700px;
	position:relative;
	display:inline-block
}
.people-page-wrapper .invite-people .inviter .adder .invite-box-holder {
width:650px
}

.people-page-wrapper .invite-people .inviter .adder .invite-box-holder {
width:400px
}
}
.people-page-wrapper .invite-people .inviter .adder .invite-box-holder .placeholder {
	position:absolute
}
.people-page-wrapper .invite-people .copy-wrapper {
	margin-left:1px;
	-webkit-transition:opacity 1s 1s, visibility 0s 1s;
	-moz-transition:opacity 1s 1s, visibility 0s 1s;
	-ms-transition:opacity 1s 1s, visibility 0s 1s;
	-o-transition:opacity 1s 1s, visibility 0s 1s;
	transition:opacity 1s 1s, visibility 0s 1s;
	visibility:visible;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	position:absolute;
	bottom:-15px;
	left:-1px
}
.people-page-wrapper .invite-people .copy-wrapper .copy-to-share {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:500px;
	background:#ededee;
	padding:8px 5px 2px 0
}
.people-page-wrapper .invite-people .copy-wrapper .copy-to-share .icon {
	float:left;
	height:20px;
	width:20px;
	margin:10px 5px;
	background:url(../img/ic_sprite.png) -1218px -123px no-repeat
}
.people-page-wrapper .invite-people.closed {
	width:50px;
	float:right;
	padding:0;
	position:absolute;
	top:-50px;
	right:0
}
.people-page-wrapper .invite-people.closed .inviter {
	overflow:visible;
	width:200px;
	max-height:50px;
	border-bottom:0px
}
.people-page-wrapper .invite-people.closed .inviter .adder {
	width:0
}
.people-page-wrapper .invite-people.closed .inviter .adder .placeholder {
	-webkit-transition:opacity 500ms 0;
	-moz-transition:opacity 500ms 0;
	-ms-transition:opacity 500ms 0;
	-o-transition:opacity 500ms 0;
	transition:opacity 500ms 0;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0
}
.people-page-wrapper .invite-people.closed .inviter .adder .cancel {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-transition:opacity 500ms 0;
	-moz-transition:opacity 500ms 0;
	-ms-transition:opacity 500ms 0;
	-o-transition:opacity 500ms 0;
	transition:opacity 500ms 0;
	width:0
}
.people-page-wrapper .invite-people.closed .buttons .do-invite {
	display:none
}
.people-page-wrapper .invite-people.closed .buttons .type-picker {
	display:block;
	width:200px;
	margin-right:0px;
	background-color:#fff
}
.people-page-wrapper .invite-people.closed .buttons .type-picker .type-picker-icon {
	background-position:-655px -185px;
	background-color:#fff;
	padding:0;
	display:inline-block;
	text-indent:100%;
	whitespace:nowrap;
	width:50px;
	height:47px;
	float:left
}
.people-page-wrapper .invite-people.closed .buttons .type-picker .text {
	margin-top:18px;
	float:left;
	color:#303030;
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:16px
}
.people-page-wrapper .invite-people.closed .buttons .type-picker:hover.type-picker-icon {
	background-position:-605px -185px
}
.people-page-wrapper .invite-people.closed .buttons.dropdown-open .type-picker .type {
	background-position:-1340px 0px
}
.people-page-wrapper .invite-people.closed .buttons .arrow {
	display:none
}
.people-page-wrapper .invite-people.closed .copy-wrapper {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-transition:opacity 0s 0;
	-moz-transition:opacity 0s 0;
	-ms-transition:opacity 0s 0;
	-o-transition:opacity 0s 0;
	transition:opacity 0s 0;
	visibility:hidden
}
.people-page-wrapper .invite-people.closed embed {
	display:none
}
.people-page-wrapper .searching .user-photo {
	display:block
}
.user-photo {
	display:inline-block;
	position:relative;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	-webkit-transition:opacity 500ms;
	-moz-transition:opacity 500ms;
	-ms-transition:opacity 500ms;
	-o-transition:opacity 500ms;
	transition:opacity 500ms
}
.user-photo .role-callout {
	border:1px;
	position:absolute;
	top:5px;
	left:4px;
	padding:5px;
	border:2px solid transparent;
	height: 9px;
}
.user-photo.is-new {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0
}
.user-photo .user-name {
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:13px;
	color:#fff;
	font-weight:normal;
	display:block;
	position:absolute;
	bottom:-43px;
	left:2px;
	top:100;
	width:100%;
	overflow:hidden;
	padding:8px
}
.user-photo.custom-photo .user-name {
	text-shadow:#000 0 0 4px;
	background-color:#000 rgba(0, 0, 0, 0.25);
	background-position-y:top;
	background-repeat:repeat-x
}
.user-photo:hover .hover-card, .user-photo.hover .hover-card {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	display:block;
	visibility:visible;
	-webkit-transition:opacity 100ms 150ms;
	-moz-transition:opacity 100ms 150ms;
	-ms-transition:opacity 100ms 150ms;
	-o-transition:opacity 100ms 150ms;
	transition:opacity 100ms 150ms
}
.user-photo .hover-card {
	-webkit-transition:opacity 0ms 0ms, visibility 0ms ms;
	-moz-transition:opacity 0ms 0ms, visibility 0ms ms;
	-ms-transition:opacity 0ms 0ms, visibility 0ms ms;
	-o-transition:opacity 0ms 0ms, visibility 0ms ms;
	transition:opacity 0ms 0ms, visibility 0ms ms;
	visibility:hidden;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-box-shadow:0 0 5px 1px #888;
	-moz-box-shadow:0 0 5px 1px #888;
	box-shadow:0 0 5px 1px #888;
	position:absolute;
	top:180;
	left:0;
	z-index:1000;
	background:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	padding:0px;
	margin:-13px 0 0 0;
	width:300px;
	line-height:20px;
}
.user-photo .hover-card.has_top_row {
	top:-28px;
}
.user-photo .hover-card.ghost .normal-info {
	display:none
}
.user-photo .hover-card.ghost .email {
	display:block;
	font-size:20px;
	color:#303030;
	padding-top:20px;
	padding-left:20px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	height:50px
}
.user-photo .hover-card.ghost .bottom {
	display:none
}
.user-photo .hover-card.ghost .info .ghost-info {
	display:block;
	height:100%
}
.user-photo .hover-card.ghost .info .ghost-info .ghost-options {
	position:absolute;
	bottom:0
}
.user-photo .hover-card.ghost .info .ghost-info .ghost-options.hide-ghost {
	display:none
}
.user-photo .hover-card.ghost .info .ghost-info .ghost-options button {
	background:#eefcf0;
	color:gray;
	width:125px;
	float:left
}
.user-photo .hover-card.ghost .info .ghost-info .ghost-options button:hover {
	color:#fff;
	background:#6ebf76
}
.user-photo .hover-card.ghost .info .ghost-info .ghost-options .remove {
	border-right:1px solid #8a8c8a
}
.user-photo .hover-card.ghost.has_top_row .info .ghost-info .ghost-options {
	display:none
}
.user-photo .hover-card img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:150px;
}
.user-photo .hover-card .info {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:250px;
}
.normal-info {
	padding:0px 0px;
	float:left;
	width:160px;
	text-align:left;
	height:50px;
	margin:-100px 0 0 120px;
}
.normal-info span {
	padding:0px 0px;
	float:left;
	display:block;
	margin:0px 0 0 0px;
}

.user-photo .hover-card .info .normal-info span .short_info {
	font-family:"Helvetica Neue", Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	display:block;
	text-align:left;
	width:140px;
	float:right;
	margin:0px 0 0 0px;
}
.user-photo .hover-card .info .normal-info .name {
	font-size:18px;
	line-height:24px;
	color:#6b7985;
	width:120px;
	display:block;
	padding:0px;
	margin:0px 0 10px 0px;
}
.user-photo .hover-card .info .ghost-info {
}
.user-photo .hover-card .info .description {
	margin-top:20px;
	font-size:14px;
	color:#999;
	line-height:16px;
	height:50px
}
.user-photo .hover-card .info .name {
	
}
.user-photo .hover-card .info .name:hover {
	color:#21b5ba;
	text-decoration:none
}
.user-photo .hover-card .info .short_info {
	
}
.user-photo .hover-card .bottom {
	border-top:1px solid #dbdcdd;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:400px
}
.user-photo .hover-card .bottom .courier .send {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:50px;
	background-position:-807px -270px;
	position:absolute;
	bottom:0;
	right:0;
	background-color:#fff;
	z-index:15
}
.user-photo .hover-card .bottom .courier .send:hover, .user-photo .hover-card .bottom .courier .send.chat_hover, .user-photo .hover-card .bottom .courier .send.chat-hover {
	background-position:-50px -545px
}
.user-photo .hover-card .bottom .courier .send:hover {
	background-color:#6ebf76
}
.user-photo .hover-card .bottom.empty .edit-and-tag {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:250px
}
.user-photo .hover-card .bottom.empty .follow {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:148px
}
.user-photo .hover-card .bottom.empty .input {
	float:left;
	position:relative
}
.user-photo .hover-card .bottom.empty .input .placeholder {
	display:block;
	position:absolute;
	text-indent:25px;
	color:#999;
	top:0;
	left:0;
	font-size:14px;
	line-height:50px
}
.user-photo .hover-card .bottom .edit-and-tag {
	font-size:14px;
	line-height:20px;
	-webkit-transition:width 500ms;
	-moz-transition:width 500ms;
	-ms-transition:width 500ms;
	-o-transition:width 500ms;
	transition:width 500ms;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:400px
}
.user-photo .hover-card .bottom .follow {
	-webkit-transition:width 500ms;
	-moz-transition:width 500ms;
	-ms-transition:width 500ms;
	-o-transition:width 500ms;
	transition:width 500ms;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:0px;
	background:#ededee
}
.user-photo .hover-card .bottom .follow:hover {
	background:#6ebf76;
	color:#fff
}
.user-photo .hover-card .bottom .placeholder {
	display:none
}
.user-photo .hover-card.post img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:100px;
}
.user-photo .hover-card.post .info {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px;
}
.user-photo .hover-card.post .bottom.empty .follow {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:100px
}
.user-photo .hover-card.post .bottom.empty .edit-and-tag {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px
}
.user-photo .hover-card .top-row {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px;
	border-bottom:1px solid #dbdcdd;
	color:#21b5ba;
}
.user-photo .hover-card .top-row button {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	float:left
}
.user-photo .hover-card .top-row button.destructive-action {
	color:#e92105;
	outline:none;
	border:none;
	width:134px;
	height:40px;
	float:left;
	cursor:default;
}
.user-photo .hover-card .top-row button.destructive-action:hover {
	background:#fed4d9;
}
.user-photo .hover-card .top-row button.constructive-action {
	color:#fff;
	height:22px;
	outline:none;
	border:none;
	background:#03c281;
}
.user-photo .hover-card .top-row button.constructive-action:hover {
	background:#e6f8f9;
}
.user-photo .hover-card .top-row button.no-action {
	cursor:default;
}
.user-photo .hover-card .top-row .left {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-bottom:1px solid #f0f0f0;
	float:right;
	width:160px;
	border-right:1px solid #dbdcdd;
}
.user-photo .hover-card .top-row .left.wide {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:400px;
}
.user-photo .hover-card .top-row .middle {
	border-right:1px solid #dbdcdd;
	display:none
}
.user-photo .hover-card .top-row .box-right {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#f8f8f8;
	float:left;
	width:150px
}
.user-photo .hover-card .top-row .box-right input{
	outline:none;
	border:none;
	}
.user-photo .hover-card .top-row.request button {
	background:#e6f8f9;
	width:50px;
	float:left;
	margin:0px;
	padding:0px;
}
.user-photo .hover-card .top-row.request button.clickable:hover, .user-photo .hover-card .top-row.request button.destructive-action:hover, .user-photo .hover-card .top-row.request button.constructive-action:hover {
	background:#21b5ba;
	color:#fff
}
.user-photo .hover-card .top-row.request .left {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	margin:0px;
	padding:0px;
	width:50px
}
.user-photo .hover-card .top-row.request .middle {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:50px;
	display:block
}
.user-photo .hover-card .top-row.request .right {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:300px;
	outline:none;
	border:none;
}
.user-photo .hover-card.flipped {
	right:0;
	left:auto
}
.user-photo .hover-card.flipped .user-hover-photo, .user-photo .hover-card.flipped.large.post img.user-hover-photo {
	float:left;
	margin:0px 0px 0px 0px;
}


.box-red{
	width:20px;
	float:left;
	margin:2px 0 0 4px;
	padding:1px;
	background:#FF0000;
	font:10px normal Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	position:absolute;
	border:1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	left: 2px;
	top: 2px;
}
.box-green{
	width:20px;
	float:left;
	margin:2px 0 0 4px;
	padding:1px;
	background:#428b11;
	font:10px normal Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	border:1px solid #fff;
	position:absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	left: 2px;
	top: 2px;
}
.table-text-box{
	font:10px Arial, Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	position:absolute;
	margin-top:-13px;
	padding:0 0 0 2px;
}
.table-text-box a{
	font:10px Arial, Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	position:absolute;
	margin-top:-20px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */
background: -ie7-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )!important; /* IE6-8 */
}
